*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-content-width: min(70ch, 100vw);
  --secondary-text-color: rgb(104, 104, 104);
  --theme-color: #2b5797;
}

html,
body,
button,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  background-color: #fbfbfb;
  color: #262626;
}

main,
footer {
  padding: 0 1rem;
  margin-bottom: 1rem;
  width: var(--main-content-width);
}

footer {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 0.9rem;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--theme-color);

  &:hover,
  &:active {
    text-decoration: underline;
    text-underline-position: under;
  }
}
