{% extends "projects/index_base.html" %}

{% set cd = 'projects/higher-order-bezier/' %}

{% from "common/macros.html" import projectlink, wikilink, githublink, caption %}
{% from "projects/higher-order-bezier/macros.html" import animated_curve %}

{% block title %}Higher-order Bezier{% endblock %}
{% block head %}

    {{ super() }}

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='3rd/prism/prism.css') }}">
    <script type="text/javascript"
            src="{{ url_for('static', filename='3rd/prism/prism.js') }}"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          CommonHTML: { linebreaks: { automatic: true } },
          "HTML-CSS": { linebreaks: { automatic: true } },
                 SVG: { linebreaks: { automatic: true } }
        });
    </script>
    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_SVG'></script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='projects/css/animation_clip.css') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename=cd + 'css/showcase.css') }}">
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/bezier.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/CanvasView.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/Animation.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/animation_control.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/showcase.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/figure_1.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/figure_2.js') }}"></script>
{% endblock %}
{% block projectSummary %}

    <p>
        <b>{{ wikilink('Bezier curves', 'Bezier curve') }}</b> see widespread use across a multitude of applications
        in computer graphics, data-interpolation and others. For the vast majority of these, curves of the second or
        third order are sufficient. Higher-order curves remain neglected since they become harder to control
        and become increasingly expensive to compute.
    </p>
    <p>
        However, one application in which both of these factors aren't a concern is {{ wikilink('string art') }} -
        where programmatically defined Bezier curves can be used to generate beautiful images.
        As a fan of {{ wikilink('abstract art') }}, I was naturally drawn to the subject and wanted to see
        what sort of images could be generated in this fashion.
    </p>

{% endblock %}
{% block tableOfContents %}

    <h2>Table of Contents</h2>

    <ul>
        <li><a href="#section-showcase">Showcase</a></li>
        <li><a href="#section-what-are-bezier-curves">What are Bezier curves?</a></li>
        <li><a href="#section-implementation">Implementation</a></li>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {{ super() }}

    <a id="section-showcase"></a>
    <h2>Showcase</h2>

    <div class="showcase-container">
        <canvas id="showcase-canvas-0" class="showcase-canvas" width="250" height="250"></canvas>
        <canvas id="showcase-canvas-1" class="showcase-canvas" width="250" height="250"></canvas>
        <canvas id="showcase-canvas-2" class="showcase-canvas" width="250" height="250"></canvas>
    </div>

    <a id="section-what-are-bezier-curves"></a>
    <h2>What are Bezier curves?</h2>

    <p>
        Bezier curves are a type of {{ wikilink('parametric curve') }} defined by a sequence of <b>control points</b>:
    </p>
    <div class="math">
        $$ P := (p_0, p_1, \ldots p_n) $$
    </div>
    <p>
        The function \(B(P, t)\) that traces the curve can be defined recursively:
    </p>
    <div class="math">

        $$ t \in [0, 1] $$
        $$ B((p_0), t) = p_0 $$
        $$ B((p_0, p_1, \ldots p_n), t) =
                (1 - t)B((p_0, p_1, \ldots p_{n-1}), t) +
                tB((p_1, p_2, \ldots p_n), t) $$

    </div>
    <p>
        The recursive nature of the definition can be visualized by drawing each layer of the recursion.
        Check out the visualization of the first three orders of Bezier curves below:
    </p>
    <div class="figure">

        {{ caption('Figure 1',
                   'The construction of first, second,
                    and third orders of the Bezier curve visualized.') }}

        <div class="subfigure-container">
            <div class="subfigure">
                {{ animated_curve('fig1-linear', 200, 150) }}
                <div class="figure-subtitle">
                    Linear
                </div>
            </div>
            <div class="subfigure">
                {{ animated_curve('fig1-quadratic', 200, 150) }}
                <div class="figure-subtitle">
                    Quadratic
                </div>
            </div>
            <div class="subfigure">
                {{ animated_curve('fig1-cubic', 200, 150) }}
                <div class="figure-subtitle">
                    Cubic
                </div>
            </div>
        </div>
    </div>
    <p>
        With even more control points and an adequate coloring, these visualizations can become
        quite mesmerizing. For example take the pointed star pattern as seen in the
        {{ wikilink('pentagram') }} - extend the pattern to a higher degree of control points and
        viola! A brilliant piece of art!
    </p>
    <div class="figure">

        {{ caption('Figure 2',
                   'Visualization of a higher-order (12 control points) curve.') }}

        {{ animated_curve('fig2-twister-high', 250, 250) }}
    </div>

    <a id="section-implementation"></a>
    <h2>Implementation</h2>

    <p>
        We trace the curve by evaluating it at intervals of fixed length \(\ell\)
        in \(t\), in order to obtain a sequence
        of points \(C\) that approximates its shape:
    </p>
    <div class="math">
        $$ \ell = 1 / n $$
        $$ C := (c_0, c_1, \ldots c_n) $$
        $$ c_i = B(P, i\ell) $$
    </div>
    <p>
        We use the ordered sequence \(C\) to draw a line strip (connected line segments
        between subsequent elements) that converges towards the true shape of the curve
        as \(\ell\) approaches zero.
    </p>
    <p>
        We evaluate \(B(P, t)\) for some value of \(t\)
        using the following algorithm:
    </p>
    <pre><code class="language-javascript">function B(P, t) {
//    A = P
//    while |A| > 1 {
//        A_new = ()
//        for i in [1, |A|) {
//            A_new[i-1] = t * A[i] + (1 - t) * A[i-1]
//        }
//        A = A_new
//    }
//    return A[0]
};
</code></pre>
    <p>
        At the end of each iteration, we have generated a new sequence \(A_{new}\)
        with length one less than that of the sequence from the previous iteration:
        \(|A_{new}| = |A| - 1\)
    </p>
    <p>
        Within \(|P|\) iterations, the algorithm terminates with a single-item
        sequence containing the evaluated position of the curve at time <span class="math">t</span>.
    </p>
    <a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and documentation on {{ githublink('GitHub', 'rharel', 'js-bezier') }}.
        Additional code used to display the animations on this page can be found in the
        {{ githublink('GitHub Pages branch', 'rharel', 'js-bezier', 'gh-pages') }} of the repository.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <ul>
        <li>Related project: {{ projectlink('Curve compressor', 'curve-compressor') }}</li>
        <li>{{ wikilink('Spline function') }}</li>
        <li>{{ wikilink('Hermite curve') }}</li>
        <li>{{ wikilink('De Casteljau\'s algorithm') }}</li>
    </ul>

{% endblock %}
{% block lastUpdateStamp %} May, 2016 {% endblock %}
