{% extends "projects/info_base.html" %}

{% from "common/macros.html" import wikilink %}

{% block projectTitle %}Higher-order Bezier{% endblock %}
{% block projectBriefTitle %}Higher-order Bezier{% endblock %}
{% block projectURL %}/projects/higher-order-bezier{% endblock %}
{% block projectThumbnailURL %}

    {{ url_for('static', filename='projects/higher-order-bezier/img/c_curve.svg') }}

{% endblock %}
{% block projectSummary %}

    {{ wikilink('Bezier curves') }} are everywhere. Their simple definition and flexibility makes
    them oftentimes quite useful for animation and other applications in computer graphics.
    Lower order curves are sufficient for the vast majority of cases, and although higher-order curves are
    generally too complex to be useful, they do make for beautiful art!

{% endblock %}
{% block projectBriefSummary %}

    Compute and render higher-order {{ wikilink('Bezier curves') }} to make
    beautiful {{ wikilink('string art') }}!

{% endblock %}
{% block projectTags %}

    <span class="tag tag-js">Javascript</span>
    <span class="tag tag-graphics">Graphics</span>

{% endblock %}
