{% extends "projects/gallery/project_info.html" %}

{% from "macros/links.html" import wikilink %}

{% block project_title %}Higher-order Bezier{% endblock %}
{% block project_brief_title %}Higher-order Bezier{% endblock %}
{% block project_url %}/projects/higher-order-bezier{% endblock %}
{% block project_thumbnail_url %}

    {{ url_for('static', filename='projects/higher-order-bezier/img/c_curve.svg') }}

{% endblock %}
{% block project_summary %}

    {{ wikilink('Bezier curves') }} are everywhere. Their simple definition and flexibility makes
    them oftentimes quite useful for animation and other applications in computer graphics.
    Lower order curves are sufficient for the vast majority of cases, and although higher-order curves are
    generally too complex to be useful, they do make for beautiful art!

{% endblock %}
{% block project_brief_summary %}

    Compute and render higher-order {{ wikilink('Bezier curves') }} to make
    beautiful {{ wikilink('string art') }}!

{% endblock %}
{% block project_tags %}

    <span class="tag-js">Javascript</span>
    <span class="tag-graphics">Graphics</span>

{% endblock %}
