.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--main-header-size);
  margin-bottom: var(--main-header-margin-bottom);

  .ancestor {
    margin-right: 0.6rem;
  }
}
