.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--main-header-size);
  margin-bottom: var(--main-header-margin-bottom);

  .ancestor::after {
    content: "/";
    margin: 0 0.5rem;
  }
}
