/**
 * Main navigation bar.
 */

#navigation-bar {

  $bg_color: #0c2d4a;
  $underline_width: 5px;
  $underline_color: #007FDC;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;

  background-color: $bg_color;

  text-align: center;

  a {

    display: inline-block;
    padding: {

      top: 15px;
      bottom: 5px;
    }
    border-bottom: $underline_width solid $bg_color;

    font-family: 'Open Sans', sans-serif;
    color: white;

    cursor: pointer;

    & + a {

      margin-left: 50px;
    }
    &:hover {

      border-bottom: $underline_width solid $underline_color;
    }
  }
}
