/**
 * Main navigation bar.
 */

#navigation-bar {

  background-color: lightgrey;
  text-align: center;

  position: fixed;
  left: 0;
  top: 0;

  width: 100%;

  $height: 50px;

  padding: {

    top: 0.5 * $height;
    bottom: 0.5 * $height;
  }

  a + a {

    margin-left: 10px;
  }
}
