@import "../common/css/color_palette";
@import "../common/css/compatibility";
@import "../common/css/media";

#navigation-bar-buttons > #navigation-button-about
{
    border-bottom-color: $blue_2;
}

#portrait-container
{
    float: right;
    padding:
    {
        right: 1em;
        left: 1em;
    }
    @include media-S() { float: none; }
}
#portrait-container img
{
    @include border-radius(50%);
    margin:
    {
        left:  auto;
        right: auto;
    }
    max-width: 10em;
    width: 40vw;
}
