{% extends 'base/base.html' %}

{% block title %}About{% endblock %}
{% block head %}

    {% from 'macros/resource_fetching.html' import inline_css %}
    {% set cd = 'about/' %}

    {{ inline_css(cd + 'css/about.css') }}

{% endblock %}
{% block content %}

    <div id="portrait-container">
        <img src="{{ url_for('static', filename='about/img/portrait_128px.png') }}"
             srcset="{{ url_for('static', filename='about/img/portrait_128px.png') }} 128w,
                     {{ url_for('static', filename='about/img/portrait_256px.png') }} 256w"
             sizes="(max-width: 256px) 50vw, 20vw">
    </div>

    <p>
        I'm a computer scientist with interests overlapping fields such as psychology,
        sociology, artificial intelligence, and human-machine interactions.
    </p>
    <p>
        I received a bachelor's of computer science & engineering from the
        <a href="http://www.tudelft.nl/en/" target="_blank">Delft University of Technology</a> in 2014,
        and more recently I graduated from the Game and Media Technology master program at
        <a href="http://www.uu.nl/en" target="_blank">Utrecht University</a> in the Netherlands.
        My thesis' work is about modeling multi-modal, multi-party conversation. My long-term goal
        is to conduct research on computer-aided mental therapy, or something similar in another
        branch of medicine.
    </p>
    <p>
        This website serves to host, document and showcase a multitude
        of <a href="/projects/">side-projects</a> I've made in my spare time.
    </p>
    <p>
        Don't hesitate to <a href="/contact">get in touch</a>! <br><br>
        Best, <br>
        Raoul
    </p>
{% endblock %}
{% block lastUpdateStamp %} October, 2017 {% endblock %}
