{% extends "base/base.html" %}

{% block title %}About{% endblock %}
{% block head %}

    {% from "macros/resource_fetching.html" import inline_css %}
    {{ inline_css("about/about.css") }}

{% endblock %}
{% block content %}
    <div id="portrait-container">
        <a href="/static/about/image/portrait_512.png" title="View">
            <img src="/static/about/image/portrait_128.png"
                 srcset="/static/about/image/portrait_128.png 128w,
                         /static/about/image/portrait_256.png 256w,
                         /static/about/image/portrait_512.png 512w"
                 sizes="(max-width: 512px) 50vw, 20vw">
        </a>
    </div>
    <p>
        I'm a computer scientist with interests overlapping fields such as psychology,
        sociology, artificial intelligence, and human-machine interactions.
    </p>
    <p>
        I received a bachelor's of computer science & engineering from the
        <a href="http://www.tudelft.nl/en/" target="_blank">Delft University of Technology</a> in 2014,
        and more recently I graduated from the master program at
        <a href="http://www.uu.nl/en" target="_blank">Utrecht University</a> in the Netherlands.        My long-term goal is to conduct research on computer-aided mental therapy, or something
        similar in another branch of medicine. You can see a tiny step towards it in my
        <a href="/research/virtual-dialogue">thesis</a>.
    </p>
    <p>
        This website serves to host, document and showcase a multitude
        of <a href="/projects/">side-projects</a> I've made in my spare time.
    </p>
    <p>
        Don't hesitate to <a href="/contact">get in touch</a>! <br><br>
        Best, <br>
        Raoul
    </p>
{% endblock %}
{% block last_update %} May, 2018 {% endblock %}
