{% extends "base.html" %}

{% block title %}Projects{% endblock %}
{% block head %}

    {{ super() }}

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='projects/css/gallery.css') }}">

{% endblock %}
{% block content %}

    <h1>PROJECTS</h1>

    <p>
        When studying any new concept or technology, I like to test and improve my knowledge by developing
        a related toy-application of the material. This is a collection
        of such side-projects I've made over the years.
    </p>
    <p class="notice-info">
        <b>Notice: </b> I am currently in the process of documenting and setting up pages for all the projects I have
        lying around. Expect a new project to be added every two weeks or so.
    </p>
    <div class="project-list">

        {% include "projects/ray-tracer/info.html" %}
        {% include "projects/k-means-clustering/info.html" %}
        {% include "projects/voronoi-on-the-gpu/info.html" %}
        {% include "projects/game-of-life/info.html" %}
        {% include "projects/higher-order-bezier/info.html" %}
    </div>


{% endblock %}
{% block lastUpdateStamp %} June, 2016 {% endblock %}
