{% extends "base.html" %}

{% block title %}Projects{% endblock %}
{% block head %}

    {{ super() }}

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='projects/css/gallery.css') }}">

{% endblock %}
{% block content %}

    <p class="notice-info">
        <b>Notice: </b> I am currently in the process of documenting and setting up pages for all the projects I have
        lying around. Expect a new project to be added once in a few weeks.
    </p>
    <div>
        {% include "projects/new-tab-tweaker/info.html" %}
        {% include "projects/curve-compressor/info.html" %}
        {% include "projects/diamond-square/info.html" %}
        {% include "projects/mandelbrot-set-exploration/info.html" %}
        {% include "projects/game-of-life/info.html" %}
        {% include "projects/pong-ai/info.html" %}
        {% include "projects/voronoi-on-the-gpu/info.html" %}
        {% include "projects/ray-tracer/info.html" %}
        {% include "projects/higher-order-bezier/info.html" %}
        {% include "projects/k-means-clustering/info.html" %}
    </div>

{% endblock %}
{% block lastUpdateStamp %} May, 2017 {% endblock %}
