<div class="project-info">
    <div class="thumbnail">
        <img src="{% block projectThumbnailURL %}{% endblock %}">
    </div>
    <div class="details">
        <div class="long title">
            {% block projectTitle %}{% endblock %}
        </div>
        <div class="short title">
            {% block projectBriefTitle %}{% endblock %}
        </div>
        <div class="tags">
            {% block projectTags %}{% endblock %}
        </div>
        <p class="long summary">
            {% block projectSummary %}{% endblock %}
        </p>
        <p class="short summary">
            {% block projectBriefSummary %}{% endblock %}
        </p>
    </div>
    <a class="further-reading"
       href="{% block projectURL %}{% endblock %}">

        <span>&#187;</span>
    </a>
</div>
