@import '../../../static/global/css/common_colors';
@import '../../../static/global/css/mixins/media';

#content
{
    margin:
    {
        left:  auto;
        right: auto;
        bottom: 10rem;
    }
    border-top:  0.5rem double $grey_2;
    padding-top: 2.5rem;

                          width: 67.5%;
    @include media-XS() { width: 90%; }
}
