@import "../../common/css/color_palette";
@import "../../common/css/layout";
@import "../../common/css/media";

#content
{
    border-top: 0.33em double $grey_2;
    margin:
    {
        bottom: 5em;
        left:   auto;
        right:  auto;
    }
    padding-top: 2em;
    width: $content-width;

    @include media-XS() { width: $content-width-xs; }
}
