#navigation-bar {
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; }
  @media (max-width: 700px) {
    #navigation-bar {
      margin-top: 1em;
      width: 67.5%; } }
  @media (max-width: 500px) {
    #navigation-bar {
      width: 90%; } }

#menu-button-input {
  display: none; }

#menu-button-label {
  cursor: pointer;
  display: none;
  width: 1.8em; }
  @media (max-width: 700px) {
    #menu-button-label {
      display: block;
      margin-left: auto; } }

#menu-button-label > img {
  height: 1.8em;
  width: 1.8em; }

#navigation-bar-buttons {
  text-align: center;
  white-space: nowrap; }
  @media (max-width: 700px) {
    #navigation-bar-buttons {
      display: none; } }

@media (max-width: 700px) {
  #menu-button-input:checked + #menu-button-label + #navigation-bar-buttons {
    display: block; } }

#navigation-bar-buttons > a {
  border-bottom: 0.33em solid transparent;
  -moz-transition: border-bottom-color 0.25s;
  -o-transition: border-bottom-color 0.25s;
  -webkit-transition: border-bottom-color 0.25s;
  transition: border-bottom-color 0.25s;
  color: #282828;
  padding-bottom: 0.25em;
  text-decoration: none; }
  #navigation-bar-buttons > a:hover {
    border-bottom-color: #C2DFFF; }
  @media (max-width: 700px) {
    #navigation-bar-buttons > a {
      border-bottom-color: #C2DFFF;
      display: block; } }

#navigation-bar-buttons > a + a {
  margin-left: 3em; }
  @media (max-width: 700px) {
    #navigation-bar-buttons > a + a {
      margin-left: 0;
      margin-top: 0.5em; } }

#content {
  border-top: 0.33em double #DBDBDB;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  width: 67.5%; }
  @media (max-width: 500px) {
    #content {
      width: 90%; } }
