@import '../../../static/global/css/common_colors';
@import '../../../static/global/css/mixins/compatibility';
@import '../../../static/global/css/mixins/media';

html
{
                          font-size:   10px;
    @include media-M()  { font-size: 12.5px; }
    @include media-L()  { font-size:   15px; }
    @include media-XL() { font-size:   20px; }
}
body
{
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;

    color:            $nearly_black;
    background-color: $nearly_white;
}

@import 'navbar';
@import 'content';
@import 'footer';
