# Editor
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv/

# Flask stuff:
instance/
.webassets-cache

# Thumbnails
Thumbs.db

# Sass
*.css.map

# NPM
node_modules/
