#showcase-input
{
    margin-bottom: 2rem;
    text-align: left;
}

#showcase-image
{
    width: auto;
    max-height: 10rem;

    background-color: lightgray;
}

#showcase-palette
{
    display: flex;
    border: 1px solid black;
    height: 10rem;
}
#showcase-palette > .color
{
    display: block;
    flex-grow:   1;
}
