{% extends "projects/gallery/project_info.html" %}

{% from "macros/links.html" import wikilink %}

{% block project_title %}Voronoi on the GPU{% endblock %}
{% block project_brief_title %}Voronoi on the GPU{% endblock %}
{% block project_url %}/projects/voronoi-on-the-gpu{% endblock %}
{% block project_thumbnail_url %}

    {{ url_for('static', filename='projects/voronoi-on-the-gpu/img/triangular_diagram.svg') }}

{% endblock %}
{% block project_summary %}

    {{ wikilink('Voronoi diagrams') }} partition space into cells.
    They are a fundamental concept in computational geometry, with broad applications spanning multiple disciplines.
    Usually, they are computed explicitly. But there is an interesting alternative:
    Exploiting graphics hardware to convert a three-dimensional scene into a two-dimensional diagram.

{% endblock %}
{% block project_brief_summary %}

    Exploiting graphics hardware to convert a three-dimensional scene into a
    two-dimensional {{ wikilink('Voronoi diagram') }}.

{% endblock %}
{% block project_tags %}

    <span class="tag-js">Javascript</span>
    <span class="tag-webgl">WebGL</span>
    <span class="tag-computational-geometry">Computational Geometry</span>
    <span class="tag-graphics">Graphics</span>

{% endblock %}
