{% extends "projects/info_base.html" %}

{% from "common/macros.html" import wikilink %}

{% block projectTitle %}Voronoi on the GPU{% endblock %}
{% block projectBriefTitle %}Voronoi on the GPU{% endblock %}
{% block projectURL %}/projects/voronoi-on-the-gpu{% endblock %}
{% block projectThumbnailURL %}

    {{ url_for('static', filename='projects/voronoi-on-the-gpu/img/triangular_diagram.svg') }}

{% endblock %}
{% block projectSummary %}

    {{ wikilink('Voronoi diagrams') }} partition space into cells.
    They are a fundamental concept in computational geometry, with broad applications spanning multiple disciplines.
    Usually, they are computed explicitly. But there is an interesting alternative:
    Exploiting graphics hardware to convert a three-dimensional scene into a two-dimensional diagram.

{% endblock %}
{% block projectBriefSummary %}

    Exploiting graphics hardware to convert a three-dimensional scene into a
    two-dimensional {{ wikilink('Voronoi diagram') }}.

{% endblock %}
{% block projectTags %}

    <span class="tag tag-js">Javascript</span>
    <span class="tag tag-webgl">WebGL</span>
    <span class="tag tag-computational-geometry">Computational Geometry</span>
    <span class="tag tag-graphics">Graphics</span>

{% endblock %}
