{% extends "projects/base/index_base.html" %}

{% from "macros/figures.html" import caption %}
{% from "macros/links.html" import wikilink, githublink %}

{% block title %}Artificial Intelligence for Pong{% endblock %}
{% block head %}

    {{ super() }}

    {% from 'macros/resource_fetching.html' import async_css %}
    {{ async_css(url_for('static', filename='projects/css/figures.css')) }}

{% endblock %}
{% block projectSummary %}

    <p>
        <b>{{ wikilink('Pong') }}</b> was the first sports-based arcade videogame. Basically, it is
        a virtual version of {{ wikilink('table tennis') }}. At the time of this project's conception, I
        had gone through a long period of time without touching neither Java,
        nor the subject of {{ wikilink('artificial intelligence') }}. I felt like I neglected both of these
        long enough and that it was time to come up with a small project that will serve as practice.
        Making a game-engine for Pong - plus a challenging artificial player to play against - is just
        the kind of exercise I was looking for!
    </p>

{% endblock %}
{% block tableOfContents %}

    <h2>Table of contents</h2>
    <ul>
        <li><a href="#section-game-rules">Game rules</a></li>
        <li>
            <a href="#section-designing-an-artificial-opponent">Designing an artificial opponent</a>
            <ul>
                <li><a href="#section-the-naive-approach">The naive approach</a></li>
                <li><a href="#section-predicting-the-balls-position">Predicting the ball's position</a></li>
                <li><a href="#section-engaging-the-opponent">Engaging the opponent</a></li>
            </ul>
        </li>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {% set cd = 'projects/pong-ai/' %}

    {{ super() }}

    <a id="section-game-rules"></a>
    <h2>Game rules</h2>

    <p>
        Pong is governed by very simple rules. The virtual table is rectangular, with each player
        controlling a paddle on opposing sides. Let's call the sides the players occupy
        <b>goals</b> and the sides they do not <b>walls</b>. The ball is released in the center
        and bounces around upon contact with either paddles or walls. Each player's objective is to
        not let the ball touch its goal, since that constitutes a loss.
    </p>

    <div class="figure">

        {{ caption('Figure 1',
                   'Schematic of the table.') }}
        <img src="{{ url_for('static', filename=cd + 'img/table_schematic.svg') }}"
             width="300" height="300">
    </div>

    <p>
        In all further discussion we will assume the players take the bottom/top sides of the table as
        their goals. Players can move their paddles left and right at constant top-speed.
        The ball is also moving at constant speed, and bounces off surfaces it collides with according
        to the following rules:
    </p>
    <ol>
        <li>
            Normally, the ball moves in constant speed in its current direction until it hits either
            a wall or a paddle (if it hits a goal, the game ends).
        </li>
        <li>
            Upon hitting a wall, the ball's movement direction is reflected across the surface normal,
            as if it were a ray of light bouncing off a mirror.
        </li>
        <li>
            Upon hitting a paddle, the ball's new direction depends on its distance from the paddle
            center: A hit dead on the middle results in a bounce direction that is straight-up.
            A hit on the edge will send the ball in a low-angled direction away.
        </li>
    </ol>

    <div class="figure">

        {{ caption('Figure 2',
                   'Ball bounce angle relative to distance from paddle center.') }}

        <div class="subfigure-group">
            <div class="subfigure">
                <img src="{{ url_for('static', filename=cd + 'img/ball_middle_bounce_schematic.svg') }}"
                    width="300" height="150">
            </div>
            <div class="subfigure">
                <img src="{{ url_for('static', filename=cd + 'img/ball_edge_bounce_schematic.svg') }}"
                    width="300" height="150">
            </div>
        </div>
    </div>

    <a id="section-designing-an-artificial-opponent"></a>
    <h2>Designing an artificial opponent</h2>

    <p>
        The making of the game-engine itself was not very eventful or exciting. The making of the
        AI, on the other hand, was a lot of fun. We started with a very simple game-plan, and iteratively
        identified its deficiencies and worked to amend them up to the point where the AI felt challenging enough.
    </p>

    <a id="section-the-naive-approach"></a>
    <h3>The naive approach</h3>

    <p>
        The most elementary attempt at a virtual Pong player is a passive one. That is, a player
        that only cares for not losing - never mind winning. As such a player, our first thought in this
        direction might be that in order not to lose, we must always be there when the ball approaches
        our goal so we may block it. A simplistic approach to this problem would be simply tracking
        the ball's horizontal position at all times and moving our paddle towards it:
    </p>
    <div class="figure">

        {{ caption('Figure 3',
                   'Human player (bottom) vs. a passive ball-tracking AI (top). The AI simply moves its
                    paddle towards the ball\'s position at all times.') }}

        <video preload="auto" controls width="300">
            <source src="https://i.imgur.com/IgDoiXm.mp4" type="video/mp4">
        </video>
    </div>
    <p>
        Unfortunately, as you can see above, this approach assumes that we can move our paddle at
        instant speed to any point.  This of course is not true, and our strategy falls flat against
        a long-distance serve to the other side of the table.
    </p>

    <a id="section-predicting-the-balls-position"></a>
    <h3>Predicting the ball's position</h3>

    <p>
        Our naive strategy to the passive player problem acted as though the ball was about to hit our
        goal at any moment, even when this is obviously not the case: For example, when the ball is
        still a long ways away and moving in a direction that is more horizontal than vertical.
    </p>
    <p>
        To remedy this, we take advantage of the fact that the rules that govern the ball's movement
        are {{ wikilink('deterministic', 'Deterministic_algorithm') }} and well-defined. Knowing
        the current ball position and velocity, we could look ahead into the future and compute its
        expected movement trajectory up until the next time it hits our goal. Then, we simply look
        at the position we predict it lands and move our paddle there straight away:
    </p>
    <div class="figure">

        {{ caption('Figure 4',
                   'Human player (bottom) vs. a future-predicting AI (top). The AI predicts the
                    position of the ball the next time it hits the goal and aims to be there first.') }}

        <video preload="auto" controls width="300">
            <source src="https://i.imgur.com/wmvKjiy.mp4" type="video/mp4">
        </video>
    </div>
    <p>
        Already, this approach is a big improvement on our first attempt. However, as can be seen
        above, it is still easily exploited. The problem lies in the fact that the AI always serves
        the ball back with its paddle's center, which sends the ball in a purely vertical direction.
        A smart opponent will use this predictability to manipulate the AI into a corner, and then serve wide -
        where even though the AI correctly predicts the ball's position at its goal, it is too far
        away to block it in time.
    </p>

    <a id="section-engaging-the-opponent"></a>
    <h3>Engaging the opponent</h3>

    <p>
        Clearly the passive approach is not working. A purely passive AI is too predictable and therefore
        too easily manipulated. A big part of this predictability stems from the fact it currently
        serves with its paddle's center, which sends the ball in a trajectory that is very easy for
        a human adversary to follow.
    </p>
    <p>
        So if we are not always to serve with our paddle's center, how should we
        serve instead? What would a smart player do? An attractive answer is this: always serve so that the ball
        lands as further away as possible from the opponent's paddle position. To do this, we again
        make use of the deterministic nature of the simulation and compute the offset from our own
        paddle's center that will send the ball in the opposite direction of our opponent:
    </p>
    <div class="figure">

        {{ caption('Figure 5',
                   'Human player (bottom) vs. an aggressive AI (top). The AI predicts the position
                    of the ball the next time it approaches the player and aims to position itself
                    such that the ball will bounce off its paddle as further away from the
                    opposing player as possible.') }}

        <video preload="auto" controls width="300">
            <source src="http://imgur.com/rIbl6kI.mp4" type="video/mp4">
        </video>
    </div>
    <p>
        Much better! Playing against this AI is already quite challenging, and although the AI can still
        technically be exploited, such exploits requires quite the gameplay skill. All in all, we have
        achieved our objective of making a reasonably challenging artificial opponent for Pong.
    </p>

    <a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and documentation on {{ githublink('GitHub', 'rharel', 'java-pong') }}.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <ul>
        <li>
            The <a href="http://imgur.com/a/UhHM3" target="_blank">imgur album</a>
            hosting the gifs on this page
        </li>
    </ul>
{% endblock %}
{% block lastUpdateStamp %} June, 2016 {% endblock %}
