{% extends "projects/base/info_base.html" %}

{% from "macros/links.html" import wikilink %}

{% block projectTitle %}Artificial Intelligence for Pong{% endblock %}
{% block projectBriefTitle %}AI for Pong{% endblock %}
{% block projectURL %}/projects/pong-ai{% endblock %}
{% block projectThumbnailURL %}

     {{ url_for('static', filename='projects/pong-ai/img/game_in_progress.svg') }}

{% endblock %}
{% block projectSummary %}

    {{ wikilink('Pong') }} is a classic arcade videogame from the 70's. At the time of this
    project's making, it has been a long while since I've done work related to either Java or
    {{ wikilink('artificial intelligence') }} in general. Getting back on track
    with an old classic such as Pong proved to be the refresher course I needed.

{% endblock %}
{% block projectBriefSummary %}

    Developing a sufficiently-challenging artificial intelligence for {{ wikilink('Pong') }},
    the classic arcade videogame from the 70's.

{% endblock %}
{% block projectTags %}

    <span class="tag-java">Java</span>
    <span class="tag-ai">Artificial Intelligence</span>

{% endblock %}
