@import "../../../../static/global/css/mixins/media";
@import "../../../../static/global/css/common_colors";

html
{
                          font-size: 10px;
    @include media-XS() { font-size: 10px; }
    @include media-S()  { font-size: 10px; }
    @include media-M()  { font-size: 10px; }
    @include media-L()  { font-size: 15px; }
    @include media-XL() { font-size: 20px; }
}
body
{
    margin: 0;
    padding-bottom: 15rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 2.2rem;

    color:            $nearly_black;
    background-color: $nearly_white;
}

header
{
                          padding: { left:   4rem; right:   4rem; top: 2rem; }
    @include media-XS() { padding: { left: 1.5rem; right: 1.5rem; top: 2rem; } }
}
#title-and-logo
{
    display: flex;
    align-items: center;
    @include media-XS() { flex-direction: column; }
}
#title-and-logo > #title
{
                          flex-grow: 1;
    @include media-XS() { flex-grow: 0; }

                          font-size:   5rem;
    @include media-XS() { font-size: 2.5rem; }

    font-weight: bold;
    color: $blue_2
}
#title-and-logo > #title > span.line
{
    display: inline-block;
}
#title-and-logo > img
{
                          width: 15rem;
    @include media-XS() { width: 10rem; margin-top: 1rem; }
}

#preamble
{
    font-size: 1.5rem;
    color: $grey_4;
    text-align: right;

    @include media-XS()
    {
        margin-top: 2rem;
        text-align: left;
    }
}

body > p, body > div
{
                          padding: { left:   4rem; right:   4rem; top: 2rem; bottom: 2rem; }
    @include media-XS() { padding: { left: 1.5rem; right: 1.5rem; top: 2rem; bottom: 2rem; } }

    background-color: #FFF062;
}
#video
{
    background-color: inherit;
    text-align: center;
}
#video > iframe
{
    max-width:  90vw;
    max-height: 90vh;
}

#introduction, #access
{
    margin-bottom: 0;
    background-color: $blue_1;
}

.section-title
{
    display: block;
    font-size: 4rem;
}
.feature-image
{
    margin: { left: 1rem; top: 1rem; bottom: 1rem; }
    float: right;
    width: 40%;

    @include media-XS()
    {
        margin: 0;
        float: none;
        width: 100%;
    }
}

a
{
    color: $blue_4;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

#access > .button img
{
    display: inline-block;
    vertical-align: middle;
    width: 5rem;
}
footer
{
    margin-top: 5rem;

    font-size: 1.25rem;
    color: $grey_3;
    text-align: center;
}
