.pitch-detection-display
{
    line-height: 0;
    margin:
    {
        left:  auto;
        right: auto;
    }
    max-width: 80vw;
    width: 30em;
}
.pitch-detection-display > .text-display
{
    background-color: purple;
    border: 0.05em solid purple;
    color: white;
    line-height: 1.5;
    width: 100%;

    & > .current-note
    {
        font-size: 3em;
        min-height: 1.5em;
    }
    & > .log
    {
        min-height: 3em;
        padding:
        {
            left:   1em;
            right:  1em;
            bottom: 0.5em;
        }
        text-align: left;
    }
}