.pitch-detection-display
{
    margin:
    {
        left:  auto;
        right: auto;
    }
        width: 30rem;
    max-width: 80vw;

    line-height: 0;
}
.pitch-detection-display > .text-display
{
    line-height: 1.5;

    border: 0.05rem solid purple;
    width:  100%;

    color:             white;
    background-color: purple;

    & > .current-note
    {
        min-height: 5rem;
        font-size:  3rem;
    }
    & > .log
    {
        min-height: 3rem;
        padding:
        {
            left:   1rem;
            right:  1rem;
            bottom: 0.5rem;
        }
        text-align: left;
    }
}