.pitch-detection-display {
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  max-width: 80vw;
  line-height: 0; }

.pitch-detection-display > .text-display {
  line-height: 1.5;
  border: 0.05rem solid purple;
  width: 100%;
  color: white;
  background-color: purple; }
  .pitch-detection-display > .text-display > .current-note {
    min-height: 5rem;
    font-size: 3rem; }
  .pitch-detection-display > .text-display > .log {
    min-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    text-align: left; }
