.pitch-detection-display {
  line-height: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
  width: 30em; }

.pitch-detection-display > .text-display {
  background-color: purple;
  border: 0.05em solid purple;
  color: white;
  line-height: 1.5;
  width: 100%; }
  .pitch-detection-display > .text-display > .current-note {
    font-size: 3em;
    min-height: 1.5em; }
  .pitch-detection-display > .text-display > .log {
    min-height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    text-align: left; }
