<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}{% endblock %}
            {% block title_suffix %} | Raoul Harel{% endblock %}
        </title>

        <link rel="icon" type="image/png"
              href="/root/favicon_32.png" sizes="32x32">
        <link rel="icon" type="image/png"
              href="/root/favicon_96.png" sizes="96x96">
        <link rel="icon" type="image/png"
              href="/root/favicon_194.png" sizes="194x194">

        {% from "macros/resource_fetching.html" import async_css, inline_css, inline_js %}

        {{ inline_css("base/css/base.css") }}
        {{ async_css("https://fonts.googleapis.com/css?family=Open+Sans") }}
        {{ async_css("/static/global/css/common.css") }}

        {% block head %}{% endblock %}

        {{ inline_js("base/js/loadCSS.min.js") }}
        {{ inline_js("base/js/cssrelpreload.min.js") }}
    </head>
    <body>
        <div id="navigation-bar">
            <input type="checkbox" id="menu-button-input"/>
            <label id="menu-button-label" for="menu-button-input" title="Menu">
                <img src="/static/common/image/menu_icon.svg" width="100" height="100">
            </label>
            <div id="navigation-bar-buttons">
                <div class="button-container">
                    <a id="navigation-button-about"
                       href="/about">

                        ABOUT
                    </a>
                </div>
                <div class="button-container">
                    <a id="navigation-button-projects"
                       href="/projects/">

                        PROJECTS
                    </a>
                </div>
                <div class="button-container">
                    <a id="navigation-button-research"
                       href="/research/virtual-dialogue">

                        RESEARCH
                    </a>
                </div>
                <div class="button-container">
                    <a id="navigation-button-contact"
                       href="/contact">

                        CONTACT
                    </a>
                </div>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            This page was last updated in {%  block lastUpdateStamp %}{% endblock %}
        </div>
    </body>
</html>
