
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}

        {% set cd = "base/" %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} | Raoul Harel</title>

        <link rel="icon" type="image/png"
              href="{{ url_for('static', filename='root/favicon_32px.png') }}"
              sizes="32x32">
        <link rel="icon" type="image/png"
              href="{{ url_for('static', filename='root/favicon_96px.png') }}"
              sizes="96x96">
        <link rel="icon" type="image/png"
              href="{{ url_for('static', filename='root/favicon_194px.png') }}"
              sizes="194x194">

        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Open+Sans">

        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='global/css/common.css') }}">
        <link rel="stylesheet" type="text/css"
              href="{{ url_for('static', filename='global/css/base.css') }}">
        
        {% endblock %}  {# head #}
    </head>
    <body>
        <div id="navigation-bar">
            <input type="checkbox" id="menu-button-input"/>
            <label id="menu-button-label" for="menu-button-input" title="Menu">
                <img src="{{ url_for('static', filename='global/img/menu_icon_100px.svg') }}">
            </label>
            <div id="navigation-bar-buttons">
                <div class="button-container">
                    <a id="navigation-button-about"
                       href="/about">

                        ABOUT
                    </a>
                </div>
                <div class="button-container">
                    <a id="navigation-button-projects"
                       href="/projects/">

                        PROJECTS
                    </a>
                </div>
                <div class="button-container">
                    <a id="navigation-button-contact"
                       href="/contact">

                        CONTACT
                    </a>
                </div>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            This page was last updated in {%  block lastUpdateStamp %}{% endblock %}
        </div>
    </body>
</html>
