.tag, .tag-cpp, .tag-c-sharp, .tag-java, .tag-js,
.tag-ts, .tag-opengl,
.tag-webgl, .tag-python, .tag-rust, .tag-web-extensions, .tag-unity, .tag-ai, .tag-audio, .tag-cellular-automata, .tag-computational-geometry, .tag-computer-networks, .tag-data-analysis,
.tag-signal-processing, .tag-graphics, .tag-physics, .tag-procedural-content-generation, .tag-ui {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border: 0.05rem solid #9F9F9F;
  border-bottom-width: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  white-space: nowrap; }

.tag-cpp {
  border-bottom-color: #2F9EC6; }

.tag-c-sharp {
  border-bottom-color: #00B000; }

.tag-java {
  border-bottom-color: #DA4E36; }

.tag-js,
.tag-ts {
  border-bottom-color: #F27300; }

.tag-opengl,
.tag-webgl {
  border-bottom-color: #CC4B4B; }

.tag-python {
  border-bottom-color: #66D46D; }

.tag-rust {
  border-bottom-color: #e69f77; }

.tag-web-extensions {
  border-bottom-color: #31C6BF; }

.tag-unity {
  border-bottom-color: #3C3C3C; }

.tag-ai {
  border-bottom-color: #2D5B8F; }

.tag-audio {
  border-bottom-color: #800080; }

.tag-cellular-automata {
  border-bottom-color: #303C8F; }

.tag-computational-geometry {
  border-bottom-color: #598AFF; }

.tag-computer-networks {
  border-bottom-color: #F22B00; }

.tag-data-analysis,
.tag-signal-processing {
  border-bottom-color: #A761FB; }

.tag-graphics {
  border-bottom-color: #51ABFF; }

.tag-physics {
  border-bottom-color: #19BF25; }

.tag-procedural-content-generation {
  border-bottom-color: #EC5D28; }

.tag-ui {
  border-bottom-color: #CE3475; }

#navigation-bar-buttons > .button-container > #navigation-button-projects {
  border-bottom-color: #316899; }

.project-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  border: 0.05rem solid #9F9F9F;
  background-color: white;
  -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #F0F0F0;
  -moz-box-shadow: 0.5rem 0.5rem 0.5rem #F0F0F0;
  -o-box-shadow: 0.5rem 0.5rem 0.5rem #F0F0F0;
  box-shadow: 0.5rem 0.5rem 0.5rem #F0F0F0; }
  @media (max-width: 500px) {
    .project-info {
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap; } }
  .project-info:hover {
    -webkit-box-shadow: 0.5rem 0.5rem 0.5rem #DBDBDB;
    -moz-box-shadow: 0.5rem 0.5rem 0.5rem #DBDBDB;
    -o-box-shadow: 0.5rem 0.5rem 0.5rem #DBDBDB;
    box-shadow: 0.5rem 0.5rem 0.5rem #DBDBDB; }
  .project-info + .project-info {
    margin-top: 1rem; }

.project-info > .thumbnail {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  min-width: 10rem;
  width: 10rem;
  background-color: #C2DFFF; }
  @media (max-width: 500px) {
    .project-info > .thumbnail {
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      width: 100%;
      height: 4rem; } }

.project-info > .thumbnail > img {
  border: 0.05rem solid #282828;
  width: 85%;
  background-color: white; }
  @media (max-width: 500px) {
    .project-info > .thumbnail > img {
      margin-right: 0.5rem;
      width: auto;
      height: 3rem; } }

.project-info > .details {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

@media (max-width: 500px) {
  .project-info > .details > .long {
    display: none; } }

.project-info > .details > .short {
  display: none; }
  @media (max-width: 500px) {
    .project-info > .details > .short {
      display: block; } }

.project-info > .details > .title {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.1rem;
  font-weight: bold; }

.project-info > .details > .tags {
  margin-bottom: 0.5rem;
  line-height: 1.5; }

.project-info > .details > .summary {
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

.project-info > .further-reading {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  min-width: 5rem;
  width: 5rem;
  padding-bottom: 0.6rem;
  font-size: 3.3rem; }
  .project-info > .further-reading:hover {
    background-color: #C2DFFF; }
  @media (max-width: 500px) {
    .project-info > .further-reading {
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      -webkit-align-items: center;
      align-items: center;
      width: 100%;
      height: 3rem; }
      .project-info > .further-reading > span {
        margin-right: 1rem; } }
