@import '../../../../static/global/css/common_colors';
@import '../../../../static/global/css/mixins/compatibility';
@import '../../../../static/global/css/mixins/media';
@import 'tags';

#navigation-bar-buttons > .button-container > #navigation-button-projects
{
    border-bottom-color: $blue_2;
}

.project-info
{
    @include display-flex();

                         @include flex-flow(row    nowrap);
    @include media-S() { @include flex-flow(column nowrap); }

    border: 0.05rem solid $grey_3;
    background-color: white;

    $box_shadow_size: 0.5rem;
              @include box-shadow($box_shadow_size $box_shadow_size $box_shadow_size $grey_1);
    &:hover { @include box-shadow($box_shadow_size $box_shadow_size $box_shadow_size $grey_2); }

    & + .project-info { margin-top: 1rem; }
}

.project-info > .thumbnail
{
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);

    min-width: 10rem;
        width: 10rem;

    background-color: $blue_1;

    @include media-S()
    {
        @include justify-content(flex-end);
        width:  100%;
        height: 4rem;
    }
}
.project-info > .thumbnail > img
{
    border: 0.05rem solid $nearly_black;
    width: 85%;

    background-color: white;

    @include media-S()
    {
        margin-right: 0.5rem;
        width:  auto;
        height: 3rem;
    }
}

.project-info > .details
{
    @include flex-grow(1);
    margin:
    {
        left:  1.5rem;
        right: 1.5rem;
    }
}
.project-info > .details > .long
{
    @include media-S() { display: none; }
}
.project-info > .details > .short
{
    display: none;
    @include media-S() { display: block; }
}
.project-info > .details > .title
{
    margin:
    {
        top:    1.5rem;
        bottom: 0.5rem;
    }
    font-size: 2.1rem;
    font-weight: bold;
}
.project-info > .details > .tags
{
    margin-bottom: 0.5rem;
    line-height:   1.5;
}
.project-info > .details > .summary
{
    margin:
    {
        top:      1rem;
        bottom: 1.5rem;
    }
}
.project-info > .further-reading
{
    @include display-flex();
    @include justify-content(center);
    @include align-items(flex-end);

    min-width: 5rem;
        width: 5rem;

    padding-bottom: 0.6rem;

    font-size: 3.3rem;

    &:hover { background-color: $blue_1; }

    @include media-S()
    {
        @include justify-content(flex-end);
        @include align-items(center);

        width:  100%;
        height: 3rem;

        & > span { margin-right: 1rem; }
    }
}
