.tag, .tag-cpp, .tag-c-sharp, .tag-java, .tag-js,
.tag-ts, .tag-opengl,
.tag-webgl, .tag-python, .tag-rust, .tag-web-extensions, .tag-unity, .tag-ai,
.tag-mas, .tag-audio, .tag-cellular-automata, .tag-computational-geometry, .tag-computer-networks, .tag-data-analysis,
.tag-signal-processing, .tag-graphics, .tag-physics, .tag-pcg, .tag-ui {
  border: 0.05em solid #9F9F9F;
  border-bottom-width: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  font-size: 0.7em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  white-space: nowrap; }

.tag-cpp {
  border-bottom-color: #2F9EC6; }

.tag-c-sharp {
  border-bottom-color: #00B000; }

.tag-java {
  border-bottom-color: #DA4E36; }

.tag-js,
.tag-ts {
  border-bottom-color: #F27300; }

.tag-opengl,
.tag-webgl {
  border-bottom-color: #CC4B4B; }

.tag-python {
  border-bottom-color: #66D46D; }

.tag-rust {
  border-bottom-color: #e69f77; }

.tag-web-extensions {
  border-bottom-color: #31C6BF; }

.tag-unity {
  border-bottom-color: #3C3C3C; }

.tag-ai,
.tag-mas {
  border-bottom-color: #2D5B8F; }

.tag-audio {
  border-bottom-color: #800080; }

.tag-cellular-automata {
  border-bottom-color: #303C8F; }

.tag-computational-geometry {
  border-bottom-color: #598AFF; }

.tag-computer-networks {
  border-bottom-color: #F22B00; }

.tag-data-analysis,
.tag-signal-processing {
  border-bottom-color: #A761FB; }

.tag-graphics {
  border-bottom-color: #51ABFF; }

.tag-physics {
  border-bottom-color: #19BF25; }

.tag-pcg {
  border-bottom-color: #EC5D28; }

.tag-ui {
  border-bottom-color: #CE3475; }

#navigation-bar-buttons > #navigation-button-projects {
  border-bottom-color: #316899; }

.project-info {
  background-color: white;
  border: 0.05em solid #9F9F9F;
  -o-box-shadow: 0.5em 0.5em 0.5em #F0F0F0;
  -moz-box-shadow: 0.5em 0.5em 0.5em #F0F0F0;
  -webkit-box-shadow: 0.5em 0.5em 0.5em #F0F0F0;
  box-shadow: 0.5em 0.5em 0.5em #F0F0F0;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .project-info:hover {
    -o-box-shadow: 0.5em 0.5em 0.5em #DBDBDB;
    -moz-box-shadow: 0.5em 0.5em 0.5em #DBDBDB;
    -webkit-box-shadow: 0.5em 0.5em 0.5em #DBDBDB;
    box-shadow: 0.5em 0.5em 0.5em #DBDBDB; }
  @media (max-width: 700px) {
    .project-info {
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap; } }

.project-info + .project-info {
  margin-top: 1em; }

.project-info > .thumbnail {
  background-color: #C2DFFF;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-width: 7em;
  width: 7em; }
  @media (max-width: 700px) {
    .project-info > .thumbnail {
      height: 2.5em;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      width: 100%; } }

.project-info > .thumbnail > img {
  background-color: white;
  border: 0.05em solid #282828;
  width: 85%; }
  @media (max-width: 700px) {
    .project-info > .thumbnail > img {
      height: 80%;
      margin-right: 0.5em;
      width: auto; } }

.project-info > .details {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin-left: 1em;
  margin-right: 1em; }

@media (max-width: 700px) {
  .project-info > .details > .long {
    display: none; } }

.project-info > .details > .short {
  display: none; }
  @media (max-width: 700px) {
    .project-info > .details > .short {
      display: block; } }

.project-info > .details > .title {
  margin-bottom: 0.5em;
  margin-top: 1em;
  font-size: 1.25em;
  font-weight: bold; }

.project-info > .details > .tags {
  display: block; }

.project-info > .details > .summary {
  margin-bottom: 1em;
  margin-top: 0.5em; }

.project-info > .further-reading {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 2.25em;
  min-width: 1.5em;
  width: 1.5em; }
  .project-info > .further-reading:hover {
    background-color: #C2DFFF; }
  @media (max-width: 700px) {
    .project-info > .further-reading {
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: flex-end;
      justify-content: flex-end;
      height: 1.1em;
      width: 100%; }
      .project-info > .further-reading > .icon {
        margin-right: 0.25em; } }
