//
// Common mixins used throughout the website.
//


@mixin media-XS {

  @media (max-width: 500px) {

    @content;
  }
}
@mixin media-S {

  @media (min-width: 500px) and (max-width: 700px) {

    @content;
  }
}
@mixin media-M {

  @media (min-width: 700px) and (max-width: 1300px) {

    @content;
  }
}
@mixin media-L {

  @media (min-width: 1300px) and (max-width: 1500px) {

    @content;
  }
}
@mixin media-XL {

  @media (min-width: 1500px) {

    @content
  }
}

@mixin border-radius($radius) {

  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin no-user-select {

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
