//
// Common colors used throughout the website.
//


$grey_1: #F0F0F0;
$grey_2: #DBDBDB;
$grey_3: #9F9F9F;
$grey_4: #3F3F3F;

$blue_1: #c2dfff;
$blue_2: #316899;
$blue_3: #0c2d4a;

$cyan_1: #45D1FF;

$purple_1: #e3d2ff;
$purple_2: #2b003f;