$nearly_white: #FAFAFD;
$nearly_black: #282828;

$grey_1: #F0F0F0;
$grey_2: #DBDBDB;
$grey_3: #9F9F9F;
$grey_4: #3F3F3F;

$blue_1: #C2DFFF;
$blue_2: #316899;
$blue_3: #0C2D4A;
$blue_4: #0066FF;

$cyan_1: #45D1FF;

$purple_1: #E3D2FF;
$purple_2: #2B003F;

$red_1: #FFC0C3;
$red_2: #450000;
