//
// Main content area.
//


@import 'common_colors';
@import 'common_mixins';

#content-container {

  margin-bottom: 10rem;
}

#content {

  margin: {

    left: auto;
    right: auto;
  }
  border-top: 0.5rem double $grey_2;
  padding-top: 2.5rem;

  width: 67.5%;

  text-align: left;

  @include media-XS() {

    width: 90%;
  }
}
