//
// Main content area.
//


@import 'common_colors';
@import 'common_mixins';

#content-container {

  margin-bottom: 100px;
}

#content {

  margin: {

    left: auto;
    right: auto;
  }
  border-top: 5px double $grey_2;
  padding-top: 25px;

  width: 80%;
  max-width: 800px;

  text-align: left;

  @include media-XS() {

    width: 90%;
  }
}
