//
// Main content area.
//


@import 'common_mixins';

#content-container {

  padding: {

    top: 25px;
    bottom: 100px;
  }
  background-color: white;
}

#content {

  margin: {

    left: auto;
    right: auto;
  }
  width: 80%;
  max-width: 900px;

  text-align: left;

  @include media-XS() {

    width: 90%;
  }
}
