//
// Main navigation bar.
//


@import 'common_colors';
@import 'common_mixins';

$menu_button_size: 35px;

#navigation-bar {

  margin: {

    left: auto;
    right: auto;
    top: 15px;
    bottom: 15px;
  }
  width: 80%;

  text-align: center;

  @include media-XS() {

    min-height: $menu_button_size;
    text-align: left;
  }
}

#menu-button-input {

  display: none;
}
#menu-button-label {

  display: none;

  float: right;

  cursor: pointer;

  img {

    width:  $menu_button_size;
    height: $menu_button_size;

    background-color: transparent;
  }
  @include media-XS() {

    display: block;
  }
}

#navigation-bar-buttons {

  display: block;

  @include media-XS() {

    display: none
  }
}
#menu-button-input:checked + #menu-button-label + #navigation-bar-buttons {

  @include media-XS() {

    display: block;
  }
}
#navigation-bar-buttons > .button-container {

  display: inline-block;

  & + .button-container {

    margin-left: 50px;
  }

  @include media-S() {

    & + .button-container {

      margin-left: 25px;
    }
  }
  @include media-XS() {

    display: block;

    & + .button-container {

      margin-left: 0;
    }
  }
}
#navigation-bar-buttons > .button-container > a {

  display: inline-block;

  border-bottom: 5px solid transparent;
  padding: {

    top: 15px;
    bottom: 5px;
  }

  color: inherit;
  cursor: pointer;
  text-decoration: none;

  &:hover {

    border-bottom: 5px solid $blue_1;
    text-decoration: none;
  }

  @include media-XS() {

    border-bottom: 5px solid $blue_1;
  }
}
