// On large displays, the navigation bar consists of several buttons in a row.
// On small displays, the navigation bar consists of several button in a column, whose visibility is
// triggered by a menu button (this menu button is only visible for small displays).

@import 'common_colors';
@import 'mixins/media';

$menu_button_size: 3.2rem;

#navigation-bar
{
    margin:
    {
        left:   auto;
        right:  auto;
        top:    1.6rem;
        bottom: 1.6rem;
    }
    width: 80%;

    text-align: center;

    @include media-XS()
    {
        min-height: $menu_button_size;  // Otherwise the (floating) button overlaps lower elements.
        text-align: left;
    }
}

#menu-button-input { display: none; }
#menu-button-label
{
                          display: none;
    @include media-XS() { display: block; }

    float:  right;
    cursor: pointer;
}
#menu-button-label > img
{
    width:  $menu_button_size;
    height: $menu_button_size;
}

#navigation-bar-buttons
{
                          display: block;
    @include media-XS() { display: none; }   // The buttons are hidden when the menu is closed.
}
#menu-button-input:checked + #menu-button-label + #navigation-bar-buttons
{
    @include media-XS() { display: block; }  // The buttons are visible when the menu is open.
}
#navigation-bar-buttons > .button-container
{
                          display: inline-block;
    @include media-XS() { display: block; }

    & + .button-container
    {
                              margin-left: 4.8rem;
        @include media-XS() { margin-left: 0; }
    }
}
#navigation-bar-buttons > .button-container > a
{
    display: inline-block;

    border-bottom:        0.5rem solid transparent;
    &:hover             { border-bottom-color: $blue_1; }
    @include media-XS() { border-bottom-color: $blue_1; }
    transition:           border-bottom-color 0.25s;

    padding:
    {
        top:    1.5rem;
        bottom: 0.5rem;
    }

    color: inherit;
    text-decoration: none;
}
