//
// Base template style.
//


@import 'common_colors';
@import 'common_mixins';

body {

  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;

  color: $nearly_black;
  background-color: $nearly_white;
}

@import 'navbar';
@import 'content';
@import 'footer';
