body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  color: #282828;
  background-color: #FAFAFD; }

#navigation-bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  text-align: center; }
  @media (max-width: 480px) {
    #navigation-bar {
      min-height: 35px;
      text-align: left; } }

#menu-button-input {
  display: none; }

#menu-button-label {
  display: none;
  float: right;
  cursor: pointer; }
  #menu-button-label img {
    width: 35px;
    height: 35px;
    background-color: transparent; }
  @media (max-width: 480px) {
    #menu-button-label {
      display: block; } }

#navigation-bar-buttons {
  display: block; }
  @media (max-width: 480px) {
    #navigation-bar-buttons {
      display: none; } }

@media (max-width: 480px) {
  #menu-button-input:checked + #menu-button-label + #navigation-bar-buttons {
    display: block; } }

#navigation-bar-buttons > .button-container {
  display: inline-block; }
  #navigation-bar-buttons > .button-container + .button-container {
    margin-left: 50px; }
  @media (max-width: 640px) {
    #navigation-bar-buttons > .button-container + .button-container {
      margin-left: 25px; } }
  @media (max-width: 480px) {
    #navigation-bar-buttons > .button-container {
      display: block; }
      #navigation-bar-buttons > .button-container + .button-container {
        margin-left: 0; } }

#navigation-bar-buttons > .button-container > a {
  display: inline-block;
  border-bottom: 5px solid transparent;
  padding-top: 15px;
  padding-bottom: 5px;
  color: inherit;
  cursor: pointer;
  text-decoration: none; }
  #navigation-bar-buttons > .button-container > a:hover {
    border-bottom: 5px solid #C2DFFF;
    text-decoration: none; }
  @media (max-width: 480px) {
    #navigation-bar-buttons > .button-container > a {
      border-bottom: 5px solid #C2DFFF; } }

#content-container {
  margin-bottom: 100px; }

#content {
  margin-left: auto;
  margin-right: auto;
  border-top: 5px double #DBDBDB;
  padding-top: 25px;
  width: 80%;
  max-width: 800px;
  text-align: left; }
  @media (max-width: 480px) {
    #content {
      width: 90%; } }

#footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 8pt;
  text-align: center;
  color: #3F3F3F; }
