//
// Base template style.
//


@import 'common_colors';
@import '_common_mixins';

body {

  margin: 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;

  background-color: $grey_2;

  @include media-XS() {

    font-size: 15pt;
  }
}

@import 'navbar';
@import 'content';
@import 'footer';
