h1 {
  color: #316899; }
  h1:first-child {
    margin-top: 0; }

h2 {
  color: #316899; }

h3 {
  font-size: inherit;
  color: #316899; }

img {
  background-color: white; }

canvas {
  display: block;
  border: 1px solid black; }

small {
  font-size: 8pt; }

a {
  color: #0066FF;
  text-decoration: none; }
  a:hover {
    cursor: pointer;
    text-decoration: underline; }
  a.seamless-link {
    color: inherit; }
  a.seamless-link:hover {
    text-decoration: none; }

.notice-info {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: #E3D2FF;
  color: #2B003F; }
