//
// Common rules.
//


@import 'common_colors';
@import 'common_mixins';

a {

  color: $blue_4;
  text-decoration: none;

  &:hover {

    cursor: pointer;
    text-decoration: underline;
  }

  &.seamless-link {

    color: inherit;
  }
  &.seamless-link:hover {

    text-decoration: none;
  }
}

.notice {

  @include border-radius(1rem);
  padding: 1rem;
}
.notice-info {

  @extend .notice;

  background-color: $purple_1;
  color: $purple_2;
}
.notice-error {

  @extend .notice;

  background-color: $red_1;
  color: $red_2;
}
