//
// Common rules.
//


@import 'common_colors';
@import 'common_mixins';

h1 {

  color: $blue_2;

  &:first-child { margin-top: 0; }
}
h2 {

  color: $blue_2;
}
h3 {

  font-size: inherit;
}

img {

  background-color: white;
}
canvas {

  display: block;
  border: 1px solid black;
}

small {

  font-size: 8pt;
}

a {

  color: $blue_4;
  text-decoration: none;

  &:hover {

    text-decoration: underline;
  }
}

.text-left {

  text-align: left;
}
.text-right {

  text-align: right;
}
.text-center {

  text-align: center;
}

.nowrap {

  white-space: nowrap;
}

.circular {

  @include border-radius(50%);
}

.notice-info {

  @include border-radius(10px);
  padding: 10px;
  background-color: $purple_1;
  color: $purple_2;
}
