//
// Common rules.
//


@import 'common_colors';
@import 'common_mixins';

small {

  font-size: 8pt;
}

a {

  color: $blue_4;
  text-decoration: none;

  &:hover {

    cursor: pointer;
    text-decoration: underline;
  }

  &.seamless-link {

    color: inherit;
  }
  &.seamless-link:hover {

    text-decoration: none;
  }
}

.notice-info {

  @include border-radius(10px);
  padding: 10px;

  background-color: $purple_1;
  color: $purple_2;
}
