#error-container {
  text-align: center; }
  @media (max-width: 480px) {
    #error-container {
      text-align: left; } }

#error {
  margin-bottom: 30px;
  font-size: 36pt; }

#message {
  font-size: 18pt; }
