{% extends "projects/base/info_base.html" %}

{% from "macros/links.html" import wikilink %}

{% block projectTitle %}Pacman in Unity{% endblock %}
{% block projectBriefTitle %}Pacman in Unity{% endblock %}
{% block projectURL %}/projects/pacman-in-unity{% endblock %}
{% block projectThumbnailURL %}

    {{ url_for('static', filename='projects/pacman-in-unity/img/pink_ghost_96px.png') }}

{% endblock %}
{% block projectSummary %}

    This project was intended to be a self-exercise for me to get familiar with
    {{ wikilink('Unity', 'unity (game engine)') }}. It is a simple implementation
    of {{ wikilink('Pacman') }}, the classic arcade video game. Work on this
    project proved to be an excellent learning experience.

{% endblock %}
{% block projectBriefSummary %}

    This project was intended to be a self-exercise for me to get familiar with
    {{ wikilink('Unity', 'unity (game engine)') }}. It is a simple implementation
    of {{ wikilink('Pacman') }}, the classic arcade video game. Work on this
    project proved to be an excellent learning experience.

{% endblock %}
{% block projectTags %}

    <span class="tag-c-sharp">C#</span>
    <span class="tag-unity">Unity</span>
    <span class="tag-graphics">Graphics</span>
    <span class="tag-ai">Artificial Intelligence</span>
    <span class="tag-ui">User Interface</span>

{% endblock %}
