{% extends "projects/base/project_index.html" %}


{% from "macros/figures.html" import caption %}
{% from "macros/links.html" import projectlink, wikilink, githublink %}
{% from "macros/math.html" import include_mathjax %}

{% block title %}Curve Compressor{% endblock %}
{% block head %}

    {% set cd = 'projects/curve-compressor/' %}

    {{ super() }}

    {% from "macros/resource_fetching.html" import async_css %}
    {{ async_css(url_for('static', filename='projects/css/figures.css')) }}
    {{ async_css(url_for('static', filename='projects/css/math.css')) }}

    {{ include_mathjax() }}

    <script type="text/javascript"
            src="{{ url_for('static', filename='projects/higher-order-bezier/js/bezier.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/CurveCompressor.js') }}"></script>
    <script type="text/javascript"
                src="{{ url_for('static', filename=cd + 'js/CanvasView.js') }}"></script>

    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/figure_1.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/figure_2.js') }}"></script>

{% endblock %}
{% block project_summary %}

    <p>
        Generally, the rendering of {{ wikilink('curves', 'curve') }} is done in two steps:
        (1) construction of an approximation of the curve to be rendered by a sequence of
        position {{ wikilink('vertices', 'Vertex (computer graphics)') }}, and
        (2) drawing of a line-strip (lines connecting consecutive vertex-pairs) based on that sequence.
    </p>
    <p>
        The naive way to generate a vertex sequence approximating an arbitrary curve is to sample it
        from beginning to end at regular intervals. However, this approach often generates many redundant
        vertices, that if were absent from the sequence would have made little to no difference in the
        way a human viewer perceives the shape of the curve.
    </p>
    <p>
        In this project, we outline a method by which these vertices can be easily identified and discarded.
    </p>

{% endblock %}
{% block table_of_contents %}

    <h2>Table of contents</h2>

    <ul>
        <li><a href="#section-introduction">Introduction</a></li>
        <li><a href="#section-approach">Approach</a></li>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {{ super() }}

    <a id="section-introduction"></a>
    <h2>Introduction</h2>

    <p>
        In this project, we focus on {{ wikilink('parametric curves', 'parametric curve') }}
        in particular, because they tend to be the most receptive towards our proposed
        optimization.
    </p>
    <p>
        The most common type of parameteric curve is the one whose equation takes
        on a single parameter \(t\) from the domain \([0, 1]\). For example, if we are given
        the following curve:
    </p>
    <div class="math">
        $$ C(t): \mathbb{R} \rightarrow \mathbb{R}^2 $$
    </div>
    <p>
        where \(t \in [0, 1]\), a vertex sequence \(A\) approximating \(C\) can be generated by
        simply sampling \(C\) at \(n \in \mathbb{N}\) regular intervals of a fixed length \(\ell\):
    </p>
    <div class="math">
        $$ \ell = 1 / n $$
        $$ A := (C(0), C(\ell), C(2\ell),
                \ldots, C((n-1)\ell), C(1)) $$
    </div>
    <p>
        Figure 1 illustrates this procedure:
    </p>
    <div class="figure">

        {{ caption('Figure 1', 'A quadratic Bezier curve.') }}

        <div class="subfigure-group">
            <div class="subfigure">
                <canvas id="figure-1-a"
                        width="250" height="128">
                </canvas>
                <div class="subtitle">
                    original shape
                </div>
            </div>
            <div class="subfigure">
                <canvas id="figure-1-b"
                        width="250" height="128">
                </canvas>
                <div class="subtitle">
                    regularly sampled with \(\ell = 0.1\)
                </div>
            </div>
        </div>
    </div>

    <a id="section-approach"></a>
    <h2>Approach</h2>

    <p>
        Our approach towards compressing the strip \(A\) is to try and find
        sub-sequences of vertices on \(A\) that are roughly collinear, and
        reduce those to a single pair of vertices approximating the
        segment.
    </p>
    <p>
        For example: if in a section of \(A\) the sequence of consecutive
        vertices \(p\), \(q\), and \(r\) lie roughly on the same line, we may
        remove \(q\) from \(A\) and it will maintain its general shape
        (albeit not to the same degree of precision).
    </p>
    <p>
        We identify the rough collinearity of three such points by comparing the measured angle
        \(\alpha = \measuredangle pqr\) with a user-chosen tolerance parameter
        \(\theta \in [0, 1]\). When \(|\alpha| < \theta\pi\), we consider
        the line-strip generated by \((p, q, r)\) to be visually indistinguishable
        from the one generated by \((p, r)\).
    </p>
    <p>
        In figure 2 we illustrate the algorithm's performance on a high-order
        Bezier curve and with varying value choices for \(\theta\):
    </p>
    <div class="figure">

        {{ caption('Figure 2', 'Compression on a 7th-order Bezier curve.') }}

        <div class="subfigure-group">
            <div class="subfigure">
                <canvas id="figure-2-a"
                        width="250" height="250">
                </canvas>
                <div class="subtitle">
                    original curve, <br/>
                    regularly sampled with \(\ell = 0.001\)
                </div>
            </div>
        </div>
        <div class="subfigure-group">
            <div class="subfigure">
                <canvas id="figure-2-b"
                        width="250" height="250">
                </canvas>
                <div class="subtitle">
                    compressed with \(\theta = \)
                    <span id="figure-2-b-theta"></span><br/>
                    compression-rate:
                    <span id="figure-2-b-compression-rate"></span>%
                </div>
            </div>
            <div class="subfigure">
                <canvas id="figure-2-c"
                        width="250" height="250">
                </canvas>
                <div class="subtitle">
                    compressed with \(\theta = \)
                    <span id="figure-2-c-theta"></span><br/>
                    compression-rate:
                    <span id="figure-2-c-compression-rate"></span>%
                </div>
            </div>
        </div>
        <div class="subfigure-group">
            <div class="subfigure">
                <canvas id="figure-2-d"
                        width="250" height="250">
                </canvas>
                <div class="subtitle">
                    compressed with \(\theta = \)
                    <span id="figure-2-d-theta"></span><br/>
                    compression-rate:
                    <span id="figure-2-d-compression-rate"></span>%
                </div>
            </div>
            <div class="subfigure">
                <canvas id="figure-2-e"
                        width="250" height="250">
                </canvas>
                <div class="subtitle">
                    compressed with \(\theta = \)
                    <span id="figure-2-e-theta"></span><br/>
                    compression-rate:
                    <span id="figure-2-e-compression-rate"></span>%
                </div>
            </div>
        </div>
        <div class="subfigure-group">
            <div class="subfigure">
                <canvas id="figure-2-f"
                        width="250" height="250">
                </canvas>
                <div class="subtitle">
                    compressed with \(\theta = \)
                    <span id="figure-2-f-theta"></span><br/>
                    compression-rate:
                    <span id="figure-2-f-compression-rate"></span>%
                </div>
            </div>
            <div class="subfigure">
                <canvas id="figure-2-g"
                        width="250" height="250">
                </canvas>
                <div class="subtitle">
                    compressed with \(\theta = \)
                    <span id="figure-2-g-theta"></span><br/>
                    compression-rate:
                    <span id="figure-2-g-compression-rate"></span>%
                </div>
            </div>
        </div>
    </div>

<a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and documentation of the library on
        {{ githublink('GitHub', 'rharel', 'ts-curve-compressor') }}.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <ul>
        <li>
            Related project: {{ projectlink('Higher-order Bezier', 'higher-order-bezier') }}
        </li>
    </ul>

{% endblock %}
{% block last_update %} April, 2017 {% endblock %}
