{% extends "projects/gallery/project_info.html" %}

{% from "macros/links.html" import wikilink %}

{% block project_title %}Curve Compression{% endblock %}
{% block project_brief_title %}Curve Compression{% endblock %}
{% block project_url %}/projects/curve-compressor{% endblock %}
{% block project_thumbnail_url %}

    {{ url_for('static', filename='projects/curve-compressor/img/curve_and_vertices_256px.svg') }}

{% endblock %}
{% block project_summary %}

    {{ wikilink('Curves', 'Curve') }} must often first be expressed as a sequence
    of sampled position {{ wikilink('vertices', 'Vertex (Computer Graphics)') }} before they
    can be rendered. However, naive ways of sampling general curves often result in vertex-sequences
    that are larger than necessary. For certain curves, it is possible to compress the original sequence
    by a significant amount without having the viewer notice a difference.

{% endblock %}
{% block project_brief_summary %}

    Represent parametric {{ wikilink('Curves', 'Curve') }} through
    a sequence of {{ wikilink('vertices', 'Vertex (Computer Graphics)') }}
    efficiently.

{% endblock %}
{% block project_tags %}

    <span class="tag-ts">TypeScript</span>
    <span class="tag-graphics">Graphics</span>

{% endblock %}
