{% extends 'projects/base/index_base.html' %}

{% from 'macros/links.html' import githublink %}

{% block title %}New Tab Tweaker{% endblock %}
{% block head %}

    {{ super() }}

    {% from 'macros/resource_fetching.html' import async_css %}
    {{ async_css(url_for('static', filename='projects/css/figures.css')) }}

{% endblock %}
{% block projectSummary %}

    <p>
        Recently, I came to the ironic realization that I spend far more time staring at blank New
        Tab page than I do the beautiful wallpaper I carefully chose to decorate
        my Desktop with. So naturally, I headed over to Mozilla's
        <a href="https://addons.mozilla.org/en-US/firefox/" target="_blank">add-on repository</a>
        in search of an add-on that would allow me to decorate the New Tab page with a customized
        background color and wallpaper image.
    </p>
    <p>
        Unfortunately, existing add-ons were either bloated with additional functionality
        that I didn't need or were based on legacy technology that
        <a href="https://blog.mozilla.org/addons/2015/08/21/the-future-of-developing-firefox-add-ons/"
           target="_blank">
            will be phased out
        </a>
        in the very near future. So, I set out to develop my own add-on for the job and took it as an
        opportunity to dive in and familiarize myself with up-and-coming
        <a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/What_are_WebExtensions"
           target="_blank">
            WebExtension technology</a>.
    </p>

{% endblock %}
{% block tableOfContents %}

    <h2>Table of contents</h2>

    <ul>
        <li><a href="#section-features">Features</a></li>
        <li><a href="#section-screenshots">Screenshots</a></li>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {{ super() }}

    {% set cd = 'projects/new-tab-tweaker/' %}

    <a id="section-features"></a>
    <h2>Features</h2>

    <ul>
        <li>Allows the user to have new tabs redirect to a specified URL.</li>
        <li>Allows the user to decorate new tab pages with a custom background color and wallpaper image.</li>
    </ul>

    <a id="section-screenshots"></a>
    <h2>Screenshots</h2>

    <div class="figure">
        <div class="subfigure-group">
            {% set images = [
                ['custom_page_options', 'Custom page options'],
                ['import_wallpaper_urls_dialog', 'Importing wallpapers from Imgur'],
                ['redirection_options', 'Redirecting a new tab to a specified URL'],
                ['image_context_menu', 'Wallpaper specification through context menu']
            ] %}
            {% for file_name, subtitle in images %}
                {% set url = cd + 'img/screenshots/' + file_name + '.png' %}
                <div class="subfigure">
                    <a href="{{ url_for('static', filename=url) }}"
                       target="_blank"
                       title="View">
                        <img class="larger" src="{{ url_for('static', filename=url) }}"/>
                    </a>
                    <div class="subtitle">
                        {{ subtitle }}
                    </div>
                </div>
        {% endfor %}
        </div>
    </div>

    <a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and documentation of the WebExtension on
        {{ githublink('GitHub', 'rharel', 'webext-new-tab-tweaker') }}.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <ul>
        <li>
            The add-on's page at
            <a href="https://addons.mozilla.org/en-US/firefox/addon/new-tab-tweaker/"
               target="_blank">
                addons.mozilla.org
            </a>
        </li>
    </ul>

{% endblock %}
{% block last_update %} August, 2017 {% endblock %}
