{% extends "projects/gallery/project_info.html" %}

{% block project_title %}New Tab Tweaker{% endblock %}
{% block project_brief_title %}New Tab Tweaker{% endblock %}
{% block project_url %}/projects/new-tab-tweaker{% endblock %}
{% block project_thumbnail_url %}

    {{ url_for('static', filename='projects/new-tab-tweaker/img/main_icon_128px.png') }}

{% endblock %}
{% block project_summary %}

    This is my first attempt at development of a
    <a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/What_are_WebExtensions"
       target="_blank">
        WebExtension</a>.
    It gives the user the option to override a browser's New Tab behavior and
    appearance.

{% endblock %}
{% block project_brief_summary %}

    A
    <a href="https://developer.mozilla.org/en-US/Add-ons/WebExtensions/What_are_WebExtensions"
       target="_blank">
        WebExtension</a>
    that gives the user the option to override a browser's New Tab page behavior
    and appearance.

{% endblock %}
{% block project_tags %}

    <span class="tag-js">JavaScript</span>
    <span class="tag-web-extensions">WebExtensions</span>
    <span class="tag-ui">User Interface</span>

{% endblock %}
