//
// Rules for /about
//


@import '../../global/css/common_mixins';
@import '../../global/css/common_colors';

#navigation-bar-buttons > .button-container > #navigation-button-about {

  border-bottom: 0.5rem solid $blue_2;
}

#portrait-container {

  float: right;

  width: 33%;
  max-width: 256px;

  img {

    width: 100%;

    @include border-radius(50%);
  }
  @include media-XS() {

    float: none;

    width: 100%;
    max-width: none;

    text-align: center;

    img {

      width: 75%;
    }
  }
}
