#navigation-button-about {
  border-bottom: 5px solid #316899; }

#portrait-container {
  width: 33%;
  max-width: 256px;
  float: right;
  text-align: center; }
  @media (max-width: 480px) {
    #portrait-container {
      width: 100%;
      max-width: none;
      float: none; } }

#portrait {
  width: 100%;
  max-width: 200px; }
