{% extends "projects/gallery/project_info.html" %}

{% from "macros/links.html" import wikilink %}

{% block project_title %}Game of Life{% endblock %}
{% block project_brief_title %}Game of Life{% endblock %}
{% block project_url %}/projects/game-of-life{% endblock %}
{% block project_thumbnail_url %}

    {{ url_for('static', filename='projects/game-of-life/img/glider_5x5.svg') }}

{% endblock %}
{% block project_summary %}

    Conway's {{ wikilink('Game of Life', 'Conway\'s Game of Life') }}
    is a {{ wikilink('cellular automaton') }} where cells live on an infinite grid and can assume
    one of two states: dead or alive. Simple rules govern the evolution of the population
    and yet give rise to surprisingly complex patterns!

{% endblock %}
{% block project_brief_summary %}

    Conway's {{ wikilink('Game of Life', 'Conway\'s Game of Life') }}
    is a {{ wikilink('cellular automaton') }}. Simple rules govern the evolution
    of the population and yet give rise to surprisingly complex patterns!

{% endblock %}
{% block project_tags %}

    <span class="tag-js">Javascript</span>
    <span class="tag-cellular-automata">Cellular Automata</span>

{% endblock %}
