{% extends "projects/index_base.html" %}

{% set cd = 'projects/diamond-square/' %}

{% from "common/macros.html" import wikilink, githublink, caption %}

{% block title %}Diamond-Square{% endblock %}
{% block head %}

    {{ super() }}

    <script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_SVG'></script>

{% endblock %}
{% block projectSummary %}

    <p>
        {{ wikilink('Virtual reality') }} has always been a particular fascination of mine. It
        astounds the mind that we have come so far in our ability to generate virtual worlds that
        mimic reality so closely, that the line between the two starts to blur.
    </p>
    <p>
        Previously, I have worked on a somewhat-related topic in the same field: the realistic
        synthesis of images through <a href="/projects/ray-tracer">ray-tracing</a>. However, in this
        project we are less concerned about the appearance of the scene and more about the scene
        itself. More specifically: we are going to generate realistic-looking terrain.
    </p>

{% endblock %}
{% block tableOfContents %}

    <h2>Table of Contents</h2>

    <ul>
        <li><a href="#section-heightmaps">Heightmaps</a></li>
        <li><a href="#section-algorithm-description">Algorithm description</a></li>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {{ super() }}

    <a id="section-heightmaps"></a>
    <h2>Heightmaps</h2>

    <p>
        Before we can generate any terrain, we need to define exactly what it is we consider as
        terrain, and how we represent it. We view a patch of terrain as a function \(H\) that maps
        a point \((x, y)\) on the euclidean plane to a value \(z\), representing the height of the
        terrain at that point:
    </p>
    <div class="math">
        $$ H: \mathbb{R}^2 \rightarrow \mathbb{R} $$
    </div>
    <p>
        To simplify things, we regard our terrain patch as discrete and bounded. That is, we define
        \(H\) to be valued only at integer coordinates:
    </p>
    <div class="math">
        $$ \{(x, y) \vert x,y \in \{0, 1, 2, \ldots n \} \} $$
    </div>
    <p>
        ..up to some limit \(n\). Basically, we are talking about a grid whose vertices each bear
        the terrain's height value, \(z\), at their position.
    </p>
    <a id="section-algorithm-description"></a>
    <h2>Algorithm description</h2>

    <p>
        The generation procedure used is titled the <b>diamond-square</b> algorithm. It generates
        a square patch of terrain with size \(2^n + 1\). The algorithm begins with an 'empty' patch,
        where all \(z\)-values are undefined:
    </p>
    <div class="figure">
        <img class="transparent-img"
             src="{{ url_for('static', filename=cd + '/img/grid_empty.svg') }}"
             width="200" height="200">
    </div>
    <p>
        The first step is to initialize the corner vertices with some seeding values:
    </p>
    <div class="figure">
        <img class="transparent-img"
             src="{{ url_for('static', filename=cd + '/img/grid_initialized.svg') }}"
             width="200" height="200">
    </div>
    <p>
        Next comes the <b>diamond-step</b>, where each square defined in the previous step computes
        its midpoint value by averaging its four corners, plus a random value \(r_{xy}\):
    </p>
    <div class="figure">
        <img class="transparent-img"
             src="{{ url_for('static', filename=cd + '/img/grid_diamond_step.svg') }}"
             width="200" height="200">
    </div>
    <p>
        After the diamond-step comes the <b>square-step</b>, where each diamond defined in the
        previous step computes its midpoint value by averaging its four corners, plus a random value
        \(r_{xy}\):
    </p>
    <div class="figure">
        <img class="transparent-img"
             src="{{ url_for('static', filename=cd + '/img/grid_square_step.svg') }}"
             width="200" height="200">
    </div>
    <p>
        We repeat the diamond- and square- steps until all values have been defined:
    </p>
    <div class="figure">
        <img class="transparent-img"
             src="{{ url_for('static', filename=cd + '/img/grid_diamond_step_2.svg') }}"
             width="200" height="200">
    </div>
    <div class="figure">
        <img class="transparent-img"
             src="{{ url_for('static', filename=cd + '/img/grid_square_step_2.svg') }}"
             width="200" height="200">
    </div>
    <div class="figure">
        <img class="transparent-img"
             src="{{ url_for('static', filename=cd + '/img/grid_complete.svg') }}"
             width="200" height="200">
    </div>
    <p>
        That's it! Now we have a complete definition of a height map for a patch of terrain. Below
        is a visualization of such a map as a grayscale texture, and beside it how it looks when
        converted to a mesh in three dimensions:
    </p>
    <div class="figure">
        <img src="{{ url_for('static', filename=cd + '/img/terrain_texture_513px.png') }}"
             width="300" height="300">
        <img src="{{ url_for('static', filename=cd + '/img/rendered_terrain_512px.png') }}"
             width="300" height="300">
    </div>

    <a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and documentation on {{ githublink('GitHub', 'rharel', 'cpp-diamond-square') }}.
        Some more samples of generated heightmaps are available under the
        {{ githublink('demo/img', 'rharel', 'cpp-diamond-square', 'master/demo/img') }} directory
        of the repository.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <ul>
        <li>
            <a href="https://plus.maths.org/content/modelling-nature-fractals">
                Fractal-based landscapes
            </a>
        </li>
    </ul>

{% endblock %}
{% block lastUpdateStamp %} September, 2016 {% endblock %}
