{% extends "projects/gallery/project_info.html" %}

{% from "macros/links.html" import wikilink %}

{% block project_title %}Diamond-Square Terrain{% endblock %}
{% block project_brief_title %}Diamond-Square Terrain{% endblock %}
{% block project_url %}/projects/diamond-square{% endblock %}
{% block project_thumbnail_url %}

    {{ url_for('static', filename='projects/diamond-square/img/rendered_terrain_128px.png') }}

{% endblock %}
{% block project_summary %}

    The {{ wikilink('Diamond-Square algorithm') }} is a
    {{ wikilink('heightmap') }} generation procedure for the synthesis of realistic-looking digital
    terrain.

{% endblock %}
{% block project_brief_summary %}

Generation of realistic-looking digital terrain with the  {{ wikilink('diamond-Square algorithm') }}.

{% endblock %}
{% block project_tags %}

    <span class="tag-cpp">C++</span>
    <span class="tag-pcg">Procedural Content Generation</span>

{% endblock %}
