{% extends "projects/base/info_base.html" %}

{% from "macros/links.html" import wikilink %}

{% block projectTitle %}Diamond-Square Terrain{% endblock %}
{% block projectBriefTitle %}Diamond-Square Terrain{% endblock %}
{% block projectURL %}/projects/diamond-square{% endblock %}
{% block projectThumbnailURL %}

    {{ url_for('static', filename='projects/diamond-square/img/rendered_terrain_128px.png') }}

{% endblock %}
{% block projectSummary %}

    The {{ wikilink('Diamond-Square algorithm') }} is a
    {{ wikilink('heightmap') }} generation procedure for the synthesis of realistic-looking digital
    terrain.

{% endblock %}
{% block projectBriefSummary %}

Generation of realistic-looking digital terrain with the  {{ wikilink('diamond-Square algorithm') }}.

{% endblock %}
{% block projectTags %}

    <span class="tag-cpp">C++</span>
    <span class="tag-pcg">Procedural Content Generation</span>

{% endblock %}
