{% extends "projects/base/info_base.html" %}

{% from "macros/links.html" import wikilink %}

{% block projectTitle %}k-Means Clustering{% endblock %}
{% block projectBriefTitle %}k-Means Clustering{% endblock %}
{% block projectURL %}/projects/k-means-clustering{% endblock %}
{% block projectThumbnailURL %}

    {{ url_for('static', filename='projects/k-means-clustering/img/three_clusters.png') }}

{% endblock %}
{% block projectSummary %}

    The {{ wikilink('k-means clustering') }} algorithm is a widely used tool in
    {{ wikilink('data mining') }}. It classifies observed data-points into distinct
    categories (clusters) and derives the characteristic features of each cluster.

{% endblock %}
{% block projectBriefSummary %}

    The {{ wikilink('k-means clustering') }} algorithm is a widely used tool in
    {{ wikilink('data mining') }} to classify observed data-points into distinct
    categories (clusters).

{% endblock %}
{% block projectTags %}

    <span class="tag-cpp">C++</span>
    <span class="tag-python">Python</span>
    <span class="tag-data-analysis">Data Analysis</span>

{% endblock %}
