{% macro image_collection(images, class_list="", do_link = True) -%}

    {% for image in images %}
        {% if not do_link %}
            <img src="{{ url_for('static', filename=image['url']) }}"
                 width="{{ width }}" />
        {% elif "thumbnail_url" in image %}
            <a href="{{ url_for('static', filename=image['url']) }}"
               target="_blank"
               title="View">
                <img class="{{ class_list }}" src="{{ url_for('static', filename=image['thumbnail_url']) }}"
                     width="{{ width }}" />
            </a>
        {% else %}
            <a href="{{ url_for('static', filename=image['url']) }}"
               target="_blank"
               title="View">
                <img class="{{ class_list }}" src="{{ url_for('static', filename=image['url']) }}"
                     width="{{ width }}" />
            </a>
        {% endif %}
    {% endfor %}

{%- endmacro %}

{% macro caption(title, text) -%}

<div class="caption">
    <span class="title">{{ title }}:</span>
    {{ text }}
</div>

{%- endmacro %}

{% macro slideshow(id, width, height, class_list) -%}

<div class="slideshow">
    <div class="placemarker">
        <span id="{{ id + '-active-slide-index' }}">0</span>
        /
        <span id="{{ id + '-slide-count' }}">0</span>
    </div>
    <img id="{{ id + '-image' }}" class="{{ class_list }}"
         src=""
         width="{{ width }}" height="{{ height }}">
    <div>
        <a id="{{ id + '-show-previous' }}"
           class="control-button show-previous">

            PREVIOUS
            <!--&#171;-->
        </a>
        <a id="{{ id + '-show-next' }}"
           class="control-button show-next">

            NEXT
            <!--&#187;-->
        </a>
    </div>
</div>

{%- endmacro %}
