{% extends "base/base.html" %}

{% block title %}Oops!{% endblock %}
{% block head %}

    {% from "macros/resource_fetching.html" import inline_css %}
    {{ inline_css("errors/error.css") }}

{% endblock %}
{% block content %}
    <div id="error">
        <div id="error-title">
            Error {% block error_code %}{% endblock %}
        </div>
        <div id="error-message">
            {% block error_message %}{% endblock %}
        </div>
    </div>
{% endblock %}
{% block last_update %} May, 2016 {% endblock %}
