//
// Rules for /contact.
//


@import "../../global/css/common_colors";
@import "../../global/css/common_mixins";

#navigation-bar-buttons > .button-container > #navigation-button-contact {

  border-bottom: 5px solid $blue_2;
}

.contact-options-container {

  margin-top: 50px;
  text-align: center;
}
.contact-options-container > a {

  display: inline-block;
  color: $nearly_black;

  & + a {

    margin-left: 50px;
  }
  img {

    display: block;

    margin: {

      left: auto;
      right: auto;
      bottom: 10px;
    }
    width: 128px;
  }
  @include media-XS() {

    display: block;

    & + a {

      margin: {

        left: 0;
        top: 20px;
      }
    }
  }
}