#content {
  border: none;
  padding: 0;
  width: 100%; }

#content > header {
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1em; }
  @media (max-width: 500px) {
    #content > header {
      margin-left: 1.5em;
      margin-right: 1.5em;
      margin-top: 2em; } }

#content > div:not(#video), #content > p {
  font-size: 1.2em;
  padding: 1em 1.5em; }

#title-and-logo {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }
  @media (max-width: 500px) {
    #title-and-logo {
      -webkit-flex-direction: column;
      flex-direction: column; } }

#title {
  color: #316899;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-size: 2.5em;
  font-weight: bold; }
  @media (max-width: 500px) {
    #title {
      -webkit-flex-grow: 0;
      flex-grow: 0;
      font-size: 1.5em; } }

#title > span.line {
  display: inline-block; }

#title-and-logo > img {
  height: auto;
  width: 7.5em; }
  @media (max-width: 500px) {
    #title-and-logo > img {
      margin-top: 1em;
      width: 5em; } }

#preamble {
  color: #3F3F3F;
  font-size: 0.8em;
  text-align: right; }
  @media (max-width: 500px) {
    #preamble {
      margin-top: 2em;
      text-align: left; } }

#video {
  background-color: inherit;
  padding: 0;
  text-align: center; }

#video > iframe {
  max-height: 90vh;
  max-width: 90vw; }

#introduction, #access {
  background-color: #C2DFFF;
  margin-bottom: 0; }

#synopsis {
  background-color: #FFF062; }

.section-title {
  display: block;
  font-size: 1.5em; }

.feature-image {
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-top: 1em;
  height: auto;
  width: 40%; }
  @media (max-width: 500px) {
    .feature-image {
      float: none;
      margin: 0;
      width: 100%; } }

#access > .button > a {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

#access > .button img {
  margin-right: 1em;
  width: 2.5em; }
