{% extends "base/base.html" %}

{% block title %}Towards multi-modal, multi-party virtual dialogue systems{% endblock %}
{% block title_suffix %}{% endblock %}
{% block head %}

    {% from "macros/resource_fetching.html" import inline_css %}
    {{ inline_css("research/virtual-dialogue/index.css") }}

{% endblock %}
{% block navigation_bar %}{% endblock %}
{% block content %}
    <header>
        <div id="title-and-logo">
            <div id="title">
                <span class="line">Towards multi-modal, multi-party</span>
                <span class="line">virtual dialogue systems</span>
            </div>
            <img src="/static/research/virtual-dialogue/image/uu_logo.svg"
                 width="224" height="224"
                 alt="Utrecht University Logo">
        </div>
        <div id="preamble">
            <span class="line">Utrecht University, Faculty of Science</span><br>
            <span class="line">Intelligent Systems Group / </span>
            <span class="line">Division of Interaction Technology</span>
        </div>
    </header>
    <div id="video">
        <iframe width="720" height="405"
                src="https://www.youtube.com/embed/VsuL9lLvp8s?rel=0"
                frameborder="0" allowfullscreen>
        </iframe>
    </div>
    <p id="introduction">
        Existing frameworks and tools for modeling virtual dialogue tend to be designed with dyadic interactions in mind, and are often built to serve solely in task-oriented domains. However, modeling realistic action and turn-taking in more general scenarios remains a challenge. We propose a generic framework to aid in development of multi-modal, multi-party dialogue. It contains mechanisms inspired by social practice theory for both action selection and timing &mdash; including handling of interruption. As a proof-of-concept, we employ these ideas in a virtual couples-therapy session, demonstrating their potential in modeling complex real-life situations.
    </p>
    <div id="synopsis">
        <span class="section-title">Interruption-enabled agency</span>
        <a href="/static/research/virtual-dialogue/image/agency_model.svg"
           target="_blank" title="View">
            <img class="feature-image"
                 src="/static/research/virtual-dialogue/image/agency_model.svg"
                 width="379" height="409">
        </a>
        <div class="feature">
            <p>
                A common shortcoming of all prevalent turn-taking methods is the implicit assumption that a turn has instantaneous duration. Meaning that once an agent takes a turn, it proceeds to complete it with no regard to any new events that transpire during it. This is a major hurdle for dialogue in complex dynamic scenarios such as those often found in serious-games. Our agency model rectifies this.
            </p>
        </div>

        <span class="section-title">Action selection/timing through social practices</span>
        <p>
            Social practice theory attempts to articulate the symbiotic relationship between the actions of social beings and the systematic rules (be they explicit or implicit) that govern their societies. In conversation, social practices dictate a great deal of our conduct, and the idea of incorporating them in the development of agency systems brings with it some very appealing benefits: they are intuitive to reason about, flexible when describing behavior, and easily reusable.
        </p>
        <p>
            We use the concept of 'social expectations' as a gateway to describing practices in dialogue. We define several types of expectations, and show how they can be arranged to elicit realistic behavior even in complex scenarios &mdash; including both appropriate selection and timing of action.
        </p>
        <span class="section-title">Managing communication</span>
        <a href="/static/research/virtual-dialogue/image/demo_screenshot_large.png"
           target="_blank" title="View">
            <img class="feature-image"
                 src="/static/research/virtual-dialogue/image/demo_screenshot_small.png"
                 width="378" height="297">
        </a>
        <p>
            Agents in the scene undergo a classic update cycle consisting of three elementary steps: perception, deliberation, and action. The communication management system is responsible for coordinating this cycle, so that events are perceived consistently across the population. It collects the actions produced by agents in one iteration, and makes them available for perception in the next. To accommodate for multi-modality, the actions collected are organized through channels, with each channel carrying actions belonging to a single modality.
        </p>
    </div>
    <div id="access">
        <div class="button">
            <a href="https://github.com/rharel/m3pd-example-couples-therapy/wiki#the-m3pd-framework"
               target="_blank">
                <img src="/static/research/virtual-dialogue/image/document.svg"><!--
                --><span class="text">Browse source code & documentation</span>
            </a>
        </div>
        <div class="button">
            <a href="https://drive.google.com/drive/folders/0By5e2vdBzzyFd2V0cmR5UkxEczA?usp=sharing"
               target="_blank">
                <img src="/static/research/virtual-dialogue/image/download.svg"><!--
                --><span class="text">Download the demo</span>
            </a>
        </div>
    </div>
{% endblock %}
{% block last_update %} November, 2017 {% endblock %}
