@import "../../common/css/color_palette";
@import "../../common/css/layout";
@import "../../common/css/media";

#content
{
    border: none;
    padding: 0;
    width: 100%;
}
#content > header
{
    margin:
    {
        bottom: 1em;
        left:   2em;
        right:  2em;
        top:    1em;
    }
    @include media-XS()
    {
        margin:
        {
            left:  1.5em;
            right: 1.5em;
            top:   2em;
        }
    }
}
#content > div, #content > p
{
    font-size: 1.2em;
    padding: 1em 1.5em;
}

#title-and-logo
{
    @include flex(row, center, flex-start);
    @include media-XS() { @include flex-direction(column); }
}
#title
{
    color: $blue_2;
    @include flex-grow(1);
    font-size: 2.5em;
    font-weight: bold;

    @include media-XS()
    {
        @include flex-grow(0);
        font-size: 1.5em;
    }
}
#title > span.line { display: inline-block; }
#title-and-logo > img
{
    height: auto;
    width: 7.5em;

    @include media-XS()
    {
        margin-top: 1em;
        width: 5em;
    }
}
#preamble
{
    color: $grey_4;
    font-size: 0.8em;
    text-align: right;

    @include media-XS()
    {
        margin-top: 2em;
        text-align: left;
    }
}

#video
{
    background-color: inherit;
    padding: 0;
    text-align: center;
}
#video > iframe
{
    max-height: 90vh;
    max-width: 90vw;
}

#introduction, #access
{
    background-color: $blue_1;
    margin-bottom: 0;
}
#synopsis { background-color: #FFF062; }

.section-title
{
    display: block;
    font-size: 1.5em;
}
.feature-image
{
    float: right;
    margin:
    {
        bottom: 1em;
        left:   1em;
        top:    1em;
    }
    height: auto;
    width: 40%;

    @include media-XS()
    {
        float: none;
        margin: 0;
        width: 100%;
    }
}

#access > .button > a
{
    @include flex(row, center, flex-start);
}
#access > .button img
{
    margin-right: 1em;
    width: 2.5em;
}
