{% extends "base.html" %}

{% set cd = 'error/' %}

{% from "macros/resource_fetching.html" import inline_css %}

{% block title %}Oops!{% endblock %}
{% block head %}

    {{ super() }}

    {{ inline_css(cd + 'css/error.css') }}

{% endblock %}
{% block content %}

    <div id="error-container">
        <div id="error">
            Error {% block errorCode %}{% endblock %}
        </div>
        <div id="message">
            {% block errorMessage %}{% endblock %}
        </div>
    </div>

{% endblock %}
  {% block lastUpdateStamp %} May, 2016 {% endblock %}
