@import '../../global/css/common_colors';
@import '../../global/css/mixins/compatibility';
@import '../../global/css/mixins/media';

.figure
{
    margin:
    {
        top:    1.5rem;
        bottom: 1.5rem;
    }

    @include border-radius(1rem);

    padding: 2rem;
    @include media-XS()
    {
        padding:
        {
            left:  0.5rem;
            right: 0.5rem;
        }
    }
    background-color: $blue_1;
    text-align: center;
}
.figure img, .figure video, .figure canvas
{
    display: inline-block;

    border: 0.05rem solid $nearly_black;
    &.transparent
    {
        background-color: transparent;
        border-color:     transparent;
    }

    &.smaller { width:    5rem; }
    &.small   { width:   10rem; }
                width: 17.5rem;
    &.large   { width:   25rem; }
    &.larger  { width:   30rem; }
            max-width:    90vw;
               height:    auto;

    background-color: white;
}

.caption
{
    text-align:  left;
    font-size: 1.4rem;

    @include media-XS()
    {
        padding:
        {
            left:  1rem;
            right: 1rem;
        }
    }
}
.caption > .title { font-weight:  bold; }
.caption + *      { margin-top: 1.5rem; }

.subfigure-group + .subfigure-group { margin-top: 1rem; }
.subfigure-group > .subfigure
{
    display: inline-block;

    margin: 0.5rem;
    line-height: 0;

    & > .subtitle
    {
        text-align: center;
        font-size:  1.4rem;
        line-height:  3rem;
    }
}
