//
// Figures and captions
//


@import '../../global/css/common_colors';
@import '../../global/css/common_mixins';

.figure {

  margin: {

    top: 15px;
    bottom: 15px;
  }
  padding: 20px;
  background-color: $blue_1;
  text-align: center;
  @include border-radius(10px);

  img, canvas {

    border: 1px solid $grey_4;
  }
  .transparent-img {

    background-color: transparent;
    border: none;
  }
  @include media-XS() {

    padding: {

      top: 20px;
      bottom: 20px;
      left: 5px;
      right: 5px;
    }
  }
}
.figure-id {

  font-weight: bold;
}

.caption-container {

  margin: {

    left: 10px;
    right: 10px;
    bottom: 10px;
  }
  text-align: left;
}
.caption {

  font-size: 11pt;
}

.subfigure-container {

  margin: {

    top: 10px;
  }
}
.subfigure {

  display: inline-block;
  margin: {

    top: 10px;
    bottom: 10px;
    left: auto;
    right: auto;
  }
}
.figure-subtitle {

  text-align: center;
  font-size: 10pt;
}
