//
// Figures and captions
//


@import '../../global/css/common_colors';
@import '../../global/css/common_mixins';

.figure {

  margin: {

    top: 1.5rem;
    bottom: 1.5rem;
  }
  @include border-radius(1rem);
  padding: 2rem;

  background-color: $blue_1;
  text-align: center;

  @include media-XS() {

    padding: {

      left: 0.5rem;
      right: 0.5rem;
      top: 2rem;
      bottom: 2rem;
    }
  }

  img, video, canvas {

    display: inline-block;
    border: 0.05rem solid $grey_4;

    &.transparent {

      background-color: transparent;
      border: 0.05rem solid transparent;
    }
    @include media-XS() {

      max-width: 250px;
      height: auto;
    }
  }
}

.caption {

  text-align: left;
  font-size: 1.4rem;

  @include media-XS() {

    padding: {

      left: 1rem;
      right: 1rem;
    }
  }

}
.caption > .title {

  font-weight: bold;
}
.caption + * {

  margin-top: 1.5rem;
}

.subfigure-group + .subfigure-group {

  margin-top: 1rem;
}
.subfigure-group > .subfigure {

  display: inline-block;
  margin: {

    left: auto;
    right: auto;
  }

  & + .subfigure {

    margin-top: 1rem;
  }
  & > .subtitle {

    text-align: center;
    font-size: 1.4rem;
  }
}
