//
// Project tag collection.
//


@import "../../global/css/common_colors";
@import "../../global/css/common_mixins";

.tag {

  padding: {

    left: 4px;
    right: 4px;
  }
  border: {

    right: 1px solid $grey_3;
    top: 1px solid $grey_3;
    bottom: 5px solid $grey_3;
    left: 1px solid $grey_3;
  }

  @include border-radius(5px);

  font-size: 9pt;
  white-space: nowrap;

  color: #2F2F2F;
  background-color: white;
}

// Technologies

.tag-cpp {

  border-bottom-color: #2f9ec6;
}
.tag-java {

  border-bottom-color: #DA4E36;
}
.tag-js, .tag-ts {

  border-bottom-color: #d76a00;
}
.tag-python {

  border-bottom-color: #16932b;
}
.tag-web-extensions {

  border-bottom-color: #31c6bf;
}
.tag-webgl {

  border-bottom-color: #CC4B4B;
}
.tag-opengl {

  border-bottom-color: #CC4B4B;
}

// Topics

.tag-ai {

  border-bottom-color: #2D5B8F;
}
.tag-cellular-automata {

  border-bottom-color: #7B7B7B;
}
.tag-computational-geometry {

  border-bottom-color: #598aff;
}
.tag-data-analysis {

  border-bottom-color: #7a34d5
}
.tag-graphics {

  border-bottom-color: #51abff;
}
.tag-procedural-content-generation {

  border-bottom-color: #ec5d28;
}
.tag-ui {

  border-bottom-color: #ce3475;
}