//
// Project tag collection.
//


@import "../../global/css/common_colors";
@import "../../global/css/common_mixins";

.tag {

  padding: {

    left: 4px;
    right: 4px;
  }
  border: {

    right: 0.5px solid $grey_3;
    top: 0.5px solid $grey_3;
    bottom: 5px solid $grey_3;
    left: 0.5px solid $grey_3;
  }

  @include border-radius(5px);

  font-size: 9pt;
  white-space: nowrap;

  color: $nearly_black;
  background-color: white;
}

// Technologies

.tag-cpp {

  border-bottom-color: #2f9ec6;
}
.tag-c-sharp {

  border-bottom-color: #00b000;
}
.tag-java {

  border-bottom-color: #DA4E36;
}
.tag-js, .tag-ts {

  border-bottom-color: #f27300;
}
.tag-opengl, .tag-webgl {

  border-bottom-color: #CC4B4B;
}
.tag-python {

  border-bottom-color: #66d46d;
}
.tag-rust {

  border-bottom-color: #dea584;
}
.tag-web-extensions {

  border-bottom-color: #31c6bf;
}
.tag-unity {

  border-bottom-color: #3c3c3c;
}

// Topics

.tag-ai {

  border-bottom-color: #2D5B8F;
}
.tag-cellular-automata {

  border-bottom-color: #303c8f;
}
.tag-computational-geometry {

  border-bottom-color: #598aff;
}
.tag-data-analysis {

  border-bottom-color: #a761fb
}
.tag-graphics {

  border-bottom-color: #51abff;
}
.tag-computer-networks {

  border-bottom-color: #f22b00;
}
.tag-procedural-content-generation {

  border-bottom-color: #ec5d28;
}
.tag-ui {

  border-bottom-color: #ce3475;
}