//
// Playable animation clip
//


@import "../../global/css/common_colors";
@import "../../global/css/common_mixins";

.animation-clip {

  display: inline-block;
  position: relative;
}
.animation-clip > .overlay {

  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.animation-clip > .overlay > .play-button {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;

  width: 50px;
  height: 50px;

  background-color: $blue_3;
  @include border-radius(50%);

  box-shadow: 0.3rem 0.3rem 0.5rem black;
}
.play-button > .play-symbol {

  $size: 18px;

  position: absolute;
  left: 8px;
  right: 0;
  top: 0;
  bottom: 0;

  margin: auto;

  border-top: 0.66 * $size solid transparent;
  border-left: $size solid $cyan_1;
  border-bottom: 0.66 * $size solid transparent;

  width: 0;
  height: 0;
}
