@import "../../../templates/common/css/color_palette";
@import "../../../templates/common/css/compatibility";
@import "../../../templates/common/css/layout";

.animation-clip
{
    display: inline-block;
    line-height: 0;
    position: relative;
}
.animation-clip > .overlay
{
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    @include flex(row, center, center);

    position: absolute;
    left: 0;
    top:  0;

    height: 100%;
    width:  100%;

}
.animation-clip > .overlay > .play-button
{
    background-color: $blue_3;
    @include border-radius(50%);
    @include box-shadow(0.3em 0.3em 0.5em black);
    @include flex(row, center, center);
    height: 5em;
    margin: auto;
    width: 5em;
}
.play-button > .play-symbol
{
    $size: 1.2em;
    border:
    {
        bottom: 0.66 * $size solid transparent;
        left:          $size solid $cyan_1;
        top:    0.66 * $size solid transparent;
    }
    height: 0;
    margin-left: 0.6em;
    width: 0;
}
