.animation-clip {
  display: inline-block;
  position: relative;
  line-height: 0; }

.animation-clip > .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.animation-clip > .overlay > .play-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: #0C2D4A;
  -webkit-box-shadow: 0.3rem 0.3rem 0.5rem black;
  -moz-box-shadow: 0.3rem 0.3rem 0.5rem black;
  -o-box-shadow: 0.3rem 0.3rem 0.5rem black;
  box-shadow: 0.3rem 0.3rem 0.5rem black; }

.play-button > .play-symbol {
  position: absolute;
  left: 0.6em;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-top: 0.792em solid transparent;
  border-left: 1.2em solid #45D1FF;
  border-bottom: 0.792em solid transparent;
  width: 0;
  height: 0; }
