.figure {
  background-color: #C2DFFF;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  font-size: 0.8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 2em;
  text-align: center; }
  @media (max-width: 500px) {
    .figure {
      padding-left: 0.5em;
      padding-right: 0.5em; } }

.figure img, .figure video, .figure canvas {
  background-color: white;
  border: 0.05em solid #282828;
  display: inline-block;
  height: auto;
  max-width: 100%;
  width: 17.5em; }
  .figure img.transparent, .figure video.transparent, .figure canvas.transparent {
    background-color: transparent;
    border-color: transparent; }
  .figure img.smaller, .figure video.smaller, .figure canvas.smaller {
    width: 5em; }
  .figure img.small, .figure video.small, .figure canvas.small {
    width: 10em; }
  .figure img.large, .figure video.large, .figure canvas.large {
    width: 25em; }
  .figure img.larger, .figure video.larger, .figure canvas.larger {
    width: 30em; }

.caption {
  text-align: left;
  width: 100%; }
  @media (max-width: 500px) {
    .caption {
      padding-left: 1em;
      padding-right: 1em; } }

.caption > .title {
  font-weight: bold; }

.caption + * {
  margin-top: 1.5em; }

.subfigure-group + .subfigure-group {
  margin-top: 1em; }

.subfigure-group > .subfigure {
  display: inline-block;
  margin: 0.5em; }
