//
// Rules for /projects/
//


@import '../../global/css/common_colors';
@import '../../global/css/common_mixins';
@import 'tags';

#navigation-bar-buttons > .button-container > #navigation-button-projects {

  border-bottom: 5px solid $blue_2;
}

.project-info {

  display: flex;
  flex-flow: row nowrap;

  border: 1px solid $grey_3;

  color: $nearly_black;
  background-color: white;

  $box_shadow_size: 5px;
  box-shadow: $box_shadow_size $box_shadow_size $box_shadow_size $grey_1;

  & + .project-info {

    margin-top: 10px;
  }

  &:hover {

    box-shadow: $box_shadow_size $box_shadow_size $box_shadow_size $grey_2;
    text-decoration: none;
  }
  @include media-XS() {

    flex-flow: column nowrap;
  }
}
.project-info > .thumbnail {

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 120px;
  width: 120px;

  background-color: $blue_1;

  @include media-XS() {

    justify-content: right;
    width: 100%;
    height: 40px;
  }
  img {

    border: 1px solid $nearly_black;
    width: 100px;

    background-color: white;

    @include media-XS() {

      margin-right: 5px;
      width: auto;
      height: 30px;
    }
  }
}
.project-info > .details {

  flex-grow: 1;

  margin-left: 15px;
  margin-right: 15px;
}
.project-info > .details > .long {

  @include media-XS() {

    display: none;
  }
}
.project-info > .details > .short {

  display: none;

  @include media-XS() {

    display: block;
  }
}
.project-info > .details > .title {

  margin: {

    top: 15px;
    bottom: 5px;
  }

  font-size: 16pt;
  font-weight: bold;
}
.project-info > .details > .tags {

  margin-bottom: 5px;

  line-height: 1.5;
}
.project-info > .details > .summary {

  margin: {

    top: 10px;
    bottom: 15px;
  }
  font-size: 12pt;
}
.project-info > .further-reading {

  display: flex;
  justify-content: center;
  align-items: flex-end;

  min-width: 50px;
  width: 50px;
  padding-bottom: 6px;

  font-size: 25pt;

  background-color: $nearly_white;

  &:hover {

    background-color: $blue_1;
  }
  @include media-XS() {

    justify-content: right;
    align-items: center;

    width: 100%;
    height: 30px;

    span {

      margin-right: 10px;
    }
  }
}
