.tag {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-right: 0.05rem solid #9F9F9F;
  border-top: 0.05rem solid #9F9F9F;
  border-bottom: 0.5rem solid #9F9F9F;
  border-left: 0.05rem solid #9F9F9F;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  white-space: nowrap;
  color: #282828;
  background-color: white; }

.tag-cpp {
  border-bottom-color: #2f9ec6; }

.tag-c-sharp {
  border-bottom-color: #00b000; }

.tag-java {
  border-bottom-color: #DA4E36; }

.tag-js, .tag-ts {
  border-bottom-color: #f27300; }

.tag-opengl, .tag-webgl {
  border-bottom-color: #CC4B4B; }

.tag-python {
  border-bottom-color: #66d46d; }

.tag-rust {
  border-bottom-color: #e69f77; }

.tag-web-extensions {
  border-bottom-color: #31c6bf; }

.tag-unity {
  border-bottom-color: #3c3c3c; }

.tag-ai {
  border-bottom-color: #2D5B8F; }

.tag-audio {
  border-bottom-color: #800080; }

.tag-cellular-automata {
  border-bottom-color: #303c8f; }

.tag-computational-geometry {
  border-bottom-color: #598aff; }

.tag-computer-networks {
  border-bottom-color: #f22b00; }

.tag-data-analysis, .tag-signal-processing {
  border-bottom-color: #a761fb; }

.tag-graphics {
  border-bottom-color: #51abff; }

.tag-physics {
  border-bottom-color: #19bf25; }

.tag-procedural-content-generation {
  border-bottom-color: #ec5d28; }

.tag-ui {
  border-bottom-color: #ce3475; }

#navigation-bar-buttons > .button-container > #navigation-button-projects {
  border-bottom: 0.5rem solid #316899; }

.project-info {
  display: flex;
  flex-flow: row nowrap;
  border: 0.05rem solid #9F9F9F;
  color: #282828;
  background-color: white;
  box-shadow: 0.5rem 0.5rem 0.5rem #F0F0F0; }
  .project-info + .project-info {
    margin-top: 1rem; }
  .project-info:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem #DBDBDB;
    text-decoration: none; }
  @media (max-width: 500px) {
    .project-info {
      flex-flow: column nowrap; } }

.project-info > .thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10rem;
  width: 10rem;
  background-color: #C2DFFF; }
  @media (max-width: 500px) {
    .project-info > .thumbnail {
      justify-content: flex-end;
      width: 100%;
      height: 4rem; } }
  .project-info > .thumbnail img {
    border: 0.05rem solid #282828;
    width: 85%;
    background-color: white; }
    @media (max-width: 500px) {
      .project-info > .thumbnail img {
        margin-right: 0.5rem;
        width: auto;
        height: 3rem; } }

.project-info > .details {
  flex-grow: 1;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }

@media (max-width: 500px) {
  .project-info > .details > .long {
    display: none; } }

.project-info > .details > .short {
  display: none; }
  @media (max-width: 500px) {
    .project-info > .details > .short {
      display: block; } }

.project-info > .details > .title {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 2.1rem;
  font-weight: bold; }

.project-info > .details > .tags {
  margin-bottom: 0.5rem;
  line-height: 1.5; }

.project-info > .details > .summary {
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

.project-info > .further-reading {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 5rem;
  width: 5rem;
  padding-bottom: 0.6rem;
  font-size: 3.3rem;
  background-color: #FAFAFD; }
  .project-info > .further-reading:hover {
    background-color: #C2DFFF; }
  @media (max-width: 500px) {
    .project-info > .further-reading {
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 3rem; }
      .project-info > .further-reading span {
        margin-right: 1rem; } }
