.long-code-snippet {
  max-height: 350px; }

.figure {
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  background-color: #C2DFFF;
  text-align: center; }
  @media (max-width: 480px) {
    .figure {
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 20px;
      padding-bottom: 20px; } }
  .figure img, .figure canvas {
    border: 1px solid #3F3F3F; }
    .figure img.transparent, .figure canvas.transparent {
      background-color: transparent;
      border: none; }
  @media (max-width: 480px) {
    .figure img, .figure canvas, .figure video, .figure .animation-clip {
      max-width: 250px;
      height: auto; } }

.caption {
  text-align: left;
  font-size: 11pt; }
  @media (max-width: 480px) {
    .caption {
      padding-left: 10px;
      padding-right: 10px; } }

.caption > .title {
  font-weight: bold; }

.caption + * {
  margin-top: 15px; }

.subfigure-group + .subfigure-group {
  margin-top: 10px; }

.subfigure-group > .subfigure {
  display: inline-block;
  margin-left: auto;
  margin-right: auto; }
  .subfigure-group > .subfigure + .subfigure {
    margin-top: 10px; }
  .subfigure-group > .subfigure > .subtitle {
    text-align: center;
    font-size: 10pt; }

.math {
  overflow-x: auto; }

#navigation-bar-buttons > .button-container > #navigation-button-projects {
  border-bottom: 5px solid #316899; }

h1 {
  color: #316899; }
  h1:first-child {
    margin-top: 0; }

h2 {
  color: #316899; }

h3 {
  font-size: inherit;
  color: #316899; }

img {
  background-color: white; }

canvas {
  display: block;
  border: 1px solid #282828; }
