.long-code-snippet {
  max-height: 35rem; }

.figure {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #C2DFFF;
  text-align: center; }
  @media (max-width: 500px) {
    .figure {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 2rem;
      padding-bottom: 2rem; } }
  .figure img, .figure video, .figure canvas {
    display: inline-block;
    border: 0.05rem solid #3F3F3F; }
    .figure img.transparent, .figure video.transparent, .figure canvas.transparent {
      background-color: transparent;
      border: 0.05rem solid transparent; }
    @media (max-width: 500px) {
      .figure img, .figure video, .figure canvas {
        max-width: 250px;
        height: auto; } }

.caption {
  text-align: left;
  font-size: 1.4rem; }
  @media (max-width: 500px) {
    .caption {
      padding-left: 1rem;
      padding-right: 1rem; } }

.caption > .title {
  font-weight: bold; }

.caption + * {
  margin-top: 1.5rem; }

.subfigure-group + .subfigure-group {
  margin-top: 1rem; }

.subfigure-group > .subfigure {
  display: inline-block;
  margin-left: auto;
  margin-right: auto; }
  .subfigure-group > .subfigure + .subfigure {
    margin-top: 1rem; }
  .subfigure-group > .subfigure > .subtitle {
    text-align: center;
    font-size: 1.4rem; }

.math {
  overflow-x: auto; }

#navigation-bar-buttons > .button-container > #navigation-button-projects {
  border-bottom: 0.5rem solid #316899; }

h1 {
  color: #316899; }
  h1:first-child {
    margin-top: 0; }

h2 {
  color: #316899; }

h3 {
  font-size: inherit;
  color: #316899; }

img {
  background-color: white; }

canvas {
  display: block; }
