@import '../../global/css/common_colors';
@import '../../global/css/mixins/compatibility';

.slideshow { display: inline-block; }
.slideshow > .controls > .control-button
{
    border:  0.05rem solid $grey_3;
    @include border-radius(0.2rem);
    padding:
    {
        left:  0.5rem;
        right: 0.5rem;
    }

    font-size: 1.5rem;

    color:      $nearly_black;
    background-color: $grey_1;

    cursor: pointer;
    
    @include user-select(none);
}
.slideshow > .controls > .show-previous { float: left;  }
.slideshow > .controls > .show-next     { float: right; }
