.slideshow {
  display: inline-block; }

.slideshow > .controls > .control-button {
  border: 0.05rem solid #9F9F9F;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1.5rem;
  color: #282828;
  background-color: #F0F0F0;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.slideshow > .controls > .show-previous {
  float: left; }

.slideshow > .controls > .show-next {
  float: right; }
