@import '../../../static/global/css/mixins/media';

#error-container
{
                          text-align: center;
    @include media-XS() { text-align: left; }
}
#error
{
    margin-bottom: 3rem;
    font-size: 4.8rem;
}
#message { font-size: 2.4rem; }
