{% extends 'projects/base/index_base.html' %}

{% from 'macros/links.html' import githublink, wikilink %}

{% block title %}Pixel Sorting{% endblock %}
{% block head %}

    {{ super() }}

    {% from 'macros/resource_fetching.html' import async_css %}
    {{ async_css(url_for('static', filename='projects/css/figures.css')) }}

{% endblock %}
{% block projectSummary %}

    <p>
        I have recently become aware of the pixel sorting family of image effect methods and wanted to
        experiment with it myself. However, most implementations were part of larger tools and
        packages (like Photoshop) that I did not care for. So, I took it as an opportunity to use
        what I learned of {{ wikilink('Rust', 'rust (programming language)') }} (an up-and-coming
        systems programming language) to practical use in this cute little project.
    </p>

{% endblock %}
{% block tableOfContents %}

    <h2>Table of contents</h2>
    <ul>
        <li><a href="#section-features">Features</a></li>
        <li><a href="#section-showcase">Showcase</a></li>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {{ super() }}

    {% set cd = 'projects/pixel-sorting/' %}

    <a id="section-features"></a>
    <h2>Features</h2>

    <p>
        We implemented a group of pixel sorting methods matching the following scheme:
    </p>
    <ol>
        <li>Select a dimension to sort pixels along (either rows or columns).</li>
        <li>
            Select a property of a pixel to sort by. Currently, this is an individual component
            of the pixel's value in either {{ wikilink('HSL', 'HSL_and_HSV') }},
            {{ wikilink('HSV', 'HSL_and_HSV') }}, or {{ wikilink('RGB') }} color space.
        </li>
        <li>
            Select a property of pixels to be affected according to their sorted order. Much like
            the comparison property, currently this can be one or more components of the pixel's
            value in either {{ wikilink('HSL', 'HSL_and_HSV') }},
            {{ wikilink('HSV', 'HSL_and_HSV') }}, or {{ wikilink('RGB') }} color space.
        </li>
    </ol>
    <p>
        This are quite basic sorting criteria, and we plan on adding more complexity in the future
        when we have the time. Nonetheless, these produce some pretty interesting results already,
        as you can see below.
    </p>

    <a id="section-showcase"></a>
    <h2>Showcase</h2>

    <div class="figure">
        <blockquote class="imgur-embed-pub" lang="en" data-id="a/yZfSn">
            <a href="//imgur.com/yZfSn">Pixel sorting</a>
        </blockquote>
        <script src="//s.imgur.com/min/embed.js" charset="utf-8" async></script>
    </div>

    <a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and usage instructions on
        {{ githublink('GitHub', 'rharel', 'rust-pixel-sorter') }}.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <ul>
        <li>
            A <a href="https://www.reddit.com/r/pixelsorting/" target="_blank">community</a> based
            around pixel sorting I like to frequent from time to time.
        </li>
    </ul>

{% endblock %}
{% block lastUpdateStamp %} December, 2017 {% endblock %}
