{% extends "projects/base/info_base.html" %}

{% block projectTitle %}Pixel sorting{% endblock %}
{% block projectBriefTitle %}Pixel sorting{% endblock %}
{% block projectURL %}/projects/pixel-sorting{% endblock %}
{% block projectThumbnail %}

    {% set cd = 'projects/pixel-sorting/img/compare_h_affect_rgb_' %}
    <img src="{{ url_for('static', filename=cd + '256px.png') }}"
         srcset="{{ url_for('static', filename=cd + '38px.png') }}  38w,
                 {{ url_for('static', filename=cd + '128px.png') }} 128w,
                 {{ url_for('static', filename=cd + '256px.png') }} 256w"
         sizes="(max-width: 512px) 5vw, 10vw">

{% endblock %}
{% block projectSummary %}

    Pixel sorting is a family of image effects wherein pixels of an image are sorted by a specified
    property along some dimension. Their sorted order is used to derive modifications to the image.

{% endblock %}
{% block projectBriefSummary %}

    Pixel sorting is a family of image effects wherein pixels of an image are sorted by a specified
    property along some dimension. Their sorted order is used to derive modifications to the image.

{% endblock %}
{% block projectTags %}

    <span class="tag-rust">Rust</span>
    <span class="tag-graphics">Graphics</span>

{% endblock %}
