@import "../../../static/global/css/common_colors";
@import "../../../static/global/css/mixins/compatibility";
@import "../../../static/global/css/mixins/media";

#navigation-bar-buttons > .button-container > #navigation-button-contact
{
    border-bottom-color: $blue_2;
}

.contact-options-container
{
    margin-top: 5rem;
    text-align: center;
}
.contact-options-container > a
{
                          display: inline-block;
    @include media-XS() { display:        block; }

    color: $nearly_black;

    & + a
    {
        margin-left: 5rem;
        @include media-XS()
        {
            margin:
            {
                left: 0;
                top:  2rem;
            }
        }
    }
}
.contact-options-container > a > img
{
    display: block;
    margin:
    {
        left:   auto;
        right:  auto;
        bottom: 1rem;
    }
    width: 128px;
}
