#navigation-bar-buttons > .button-container > #navigation-button-contact {
  border-bottom-color: #316899; }

.contact-options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem; }
  @media (max-width: 500px) {
    .contact-options-container {
      flex-direction: column; } }

.contact-options-container > a {
  display: inline-block;
  box-sizing: border-box;
  height: 196px;
  color: #282828;
  text-align: center; }
  .contact-options-container > a + a {
    margin-left: 5rem; }
    @media (max-width: 500px) {
      .contact-options-container > a + a {
        margin-left: 0; } }

.contact-options-container > a > img {
  display: block;
  margin-bottom: 1rem;
  width: auto;
  height: 128px; }
