@import "../../../static/global/css/common_colors";
@import "../../../static/global/css/mixins/compatibility";
@import "../../../static/global/css/mixins/media";

#navigation-bar-buttons > .button-container > #navigation-button-contact
{
    border-bottom-color: $blue_2;
}

.contact-options-container
{
    display:         flex;
    justify-content: center;
    align-items:     center;

                          flex-direction: row;
    @include media-XS() { flex-direction: column; }

    margin-top: 5rem;
}
.contact-options-container > a
{
    display: inline-block;

    box-sizing: border-box;
    height:     196px;

    color: $nearly_black;

    text-align: center;

    & + a
    {
                              margin-left: 5rem;
        @include media-XS() { margin-left: 0; }
    }
}
.contact-options-container > a > img
{
    display: block;

    margin-bottom: 1rem;

    width:  auto;
    height: 128px;
}
