@import '../../../../static/global/css/common_colors';

#navigation-bar-buttons > .button-container > #navigation-button-projects
{
    border-bottom-color: $blue_2;
}

h1, h2, h3 { color: $blue_2;                  }
h1         { &:first-child { margin-top: 0; } }
h3         { font-size: inherit;              }
