<div class="project-info">
    <div class="thumbnail">
        {% if self.projectThumbnail() | trim %}
            {% block projectThumbnail %}{% endblock %}
        {% else %}
            <img src="{% block projectThumbnailURL %}{% endblock %}">
        {% endif %}
    </div>
    <div class="details">
        <div class="long title">
            {% block projectTitle %}{% endblock %}
        </div>
        <div class="short title">
            {% block projectBriefTitle %}{% endblock %}
        </div>
        <div class="tags">
            {% block projectTags %}{% endblock %}
        </div>
        <p class="long summary">
            {% block projectSummary %}{% endblock %}
        </p>
        <p class="short summary">
            {% block projectBriefSummary %}{% endblock %}
        </p>
    </div>
    <a class="further-reading"
       href="{% block projectURL %}{% endblock %}"
       title="Read more">

        <span>&#187;</span>
    </a>
</div>
