{% extends "projects/base/index_base.html" %}

{% from "macros/figures.html" import caption, image_collection %}
{% from "macros/links.html" import wikilink, githublink %}

{% block title %}Ray Tracer{% endblock %}
{% block head %}

    {% set cd = 'projects/ray-tracer/' %}

    {{ super() }}

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename=cd + 'css/showcase.css') }}">

{% endblock %}
{% block projectSummary %}

    <p>
        <b>{{ wikilink('Ray tracing', 'Ray_tracing_(graphics)') }}</b> is an image-synthesis method based on the principle of
        simulating light rays bouncing around - just as they do in reality. I first came in contact with
        ray tracing and {{ wikilink('global illumination') }} models during a {{ wikilink('computer graphics') }}
        course. As part of the practical assignments we were required to program our own physically-based
        ray tracer, but even after the course was over I continued spending time improving it from time to time.
    </p>
    <p>
        In the end, what started out as an assignment turned into quite a big project. Over time, with numerous
        rewrites and additions, my pet ray-tracing library has now become one of my favorite projects to
        work on.
    </p>

{% endblock %}
{% block tableOfContents %}

    <h2>Table of contents</h2>

    <ul>
        <li><a href="#section-showcase">Showcase</a></li>
        <li><a href="#section-ray-tracing-basics">Raytracing basics</a></li>
        <li><a href="#section-path-tracing">Path Tracing</a></li>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {% set cd = 'projects/ray-tracer/' %}

    {{ super() }}

    <a id="section-showcase"></a>
    <h2>Showcase</h2>

    <div class="figure">
        {{  image_collection(
            [
                {"url": cd + 'img/mirror_hemisphere_512px.png'},
                {"url": cd + 'img/three_lambertian_spheres_day_512px.png'},
                {"url": cd + 'img/three_lambertian_spheres_day_2_512px.png'}
            ],
            class_list='large',
            do_link=True)
        }}
    </div>

    <a id="section-ray-tracing-basics"></a>
    <h2>Ray tracing basics</h2>

    <p>
        Ray tracing is all about simulating real light transport. Here's the gist of it:
        At the start of its journey, a
        {{ wikilink('light ray', 'Ray (optics)') }} leaves the light source.
        At this point, it is charged with a certain amount energy across different
        {{ wikilink('wavelengths', 'wavelength') }}.
        Upon collision with an object, energy across certain wavelengths may
        be absorbed,
        {{ wikilink('scattered', 'light scattering') }},
        reflected,
        {{ wikilink('refracted', 'refraction') }}
        or some combination of these.
    </p>
    <p>
        This spawns countless new, secondary light rays who travel through the scene in the same
        manner until colliding with an object, and the process repeats. Eventually, some rays reach the viewer's eye,
        where the energy they carry across the {{ wikilink('spectrum', 'electromagnetic spectrum') }}
        is sensed and translated into an image.
    </p>
    <p>
        If we could simulate and track the journey such a ray made from light source to eye
        we could compute its energy values when it reaches the eye and therefore its color,
        simply by accounting for all objects it hit along the way and subtracting the energy they absorbed.
    </p>

    <div class="figure">

        {{ caption('Figure 1',
                   'We can compute a ray\'s color by simulating its journey from the light source
                    to the observer\'s eye.') }}

        <img src="{{ url_for('static', filename=cd + 'img/ray_trace_schematic.svg') }}"
             width="300" />

    </div>
    <a id="section-path-tracing"></a>
    <h2>Path tracing</h2>

    <p>
        {{ wikilink('Path tracing') }} is a ray tracing method that performs the light ray simulation backwards:
        i.e. rather than starting at the light source and ending at the virtual camera, we start at the camera
        (or more precisely, on the camera's image plane) and trace the ray's journey backwards until we
        hit a light source. Of course, the detailed procedure is not as straightforward as that, but we
        won't be discussing it here, especially since the internet is filled to the brim with excellent
        resources about path tracing and ray tracing in general.
    </p>
    <a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and documentation on {{ githublink('GitHub', 'rharel', 'cpp-raytracer') }}.
        Some simple scene configurations are available under the
        {{ githublink('demo', 'rharel', 'cpp-raytracer', 'master/demo/config') }} directory
        of the repository.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <ul>
        <li>{{ wikilink('Global illumination') }} for models of physically-based rendering.</li>
        <li>{{ wikilink('Supersampling') }} for information on anti-aliasing methods.</li>
        <li>
            {{ wikilink('Bidirectional path tracing', 'Path_tracing#Bidirectional_path_tracing') }}
            is a more advanced raytracing method combining
            paths from both the eye as well as the light sources themselves.
        </li>
        <li>
            {{ wikilink('BRDF') }} for more on modeling materials using bidirectional reflectance
            distribution functions.
        </li>
    </ul>

{% endblock %}
{% block lastUpdateStamp %} June, 2016 {% endblock %}
