{% extends "projects/info_base.html" %}

{% from "macros/links.html" import wikilink %}

{% block projectTitle %}Download Accelerator{% endblock %}
{% block projectBriefTitle %}Download Accelerator{% endblock %}
{% block projectURL %}/projects/download-accelerator{% endblock %}
{% block projectThumbnailURL %}

    {{ url_for('static', filename='projects/download-accelerator/img/download_icon_20px.svg') }}

{% endblock %}
{% block projectSummary %}

    A command-line-based application that is able to provide accelerated download of
    content by fetching and processing different portions of it concurrently.
    This project was intended to be an exercise as part of my learning to program
    in the up-and-coming systems language {{ wikilink('Rust', 'rust (programming language)') }}.

{% endblock %}
{% block projectBriefSummary %}

    A command-line-based application that is able to provide accelerated download of
    content by fetching and processing different portions of it concurrently.
    This project was intended to be an exercise as part of my learning to program
    in the up-and-coming systems language {{ wikilink('Rust', 'rust (programming language)') }}.

{% endblock %}
{% block projectTags %}

    <span class="tag tag-rust">Rust</span>
    <span class="tag tag-computer-networks">Computer Networks</span>

{% endblock %}
