{% extends "projects/gallery/project_info.html" %}

{% from "macros/links.html" import wikilink %}

{% block project_title %}Download Accelerator{% endblock %}
{% block project_brief_title %}Download Accelerator{% endblock %}
{% block project_url %}/projects/download-accelerator{% endblock %}
{% block project_thumbnail_url %}

    {{ url_for('static', filename='projects/download-accelerator/img/download_icon_20px.svg') }}

{% endblock %}
{% block project_summary %}

    A command-line-based application that is able to provide accelerated download of
    content by fetching and processing different portions of it concurrently.
    This project was intended to be an exercise as part of my learning to program
    in the up-and-coming systems language {{ wikilink('Rust', 'rust (programming language)') }}.

{% endblock %}
{% block project_brief_summary %}

    A command-line-based application that is able to provide accelerated download of
    content by fetching and processing different portions of it concurrently.
    This project was intended to be an exercise as part of my learning to program
    in the up-and-coming systems language {{ wikilink('Rust', 'rust (programming language)') }}.

{% endblock %}
{% block project_tags %}

    <span class="tag-rust">Rust</span>
    <span class="tag-computer-networks">Computer Networks</span>

{% endblock %}
