{% extends 'base/base.html' %}

{% block title %}Contact{% endblock %}
{% block head %}

    {% from 'macros/resource_fetching.html' import inline_css %}
    {% set cd = 'contact/' %}

    {{ inline_css(cd + 'css/contact.css') }}

{% endblock %}
{% block content %}

    <div class="contact-options-container">
        <a href="https://www.linkedin.com/in/raoul-harel">
            <img src="{{ url_for('static', filename='contact/img/linkedin_128px.png') }}">
            Linkedin
        </a>
        <a href="https://www.github.com/rharel/">
            <img src="{{ url_for('static', filename='contact/img/github_128px.png') }}">
            Github
        </a>
    </div>
{% endblock %}
{% block lastUpdateStamp %} May, 2016 {% endblock %}
