{% extends "projects/base/index_base.html" %}

{% from "macros/links.html" import githublink, wikilink %}
{% from "macros/figures.html" import caption %}
{% from "macros/math.html" import include_mathjax %}
{% from "macros/animation_clips.html" import begin_animation_clip, end_animation_clip %}

{% block title %}Rigid Body Physics in Two Dimensions{% endblock %}
{% block head %}

    {% set cd = 'projects/rigid-body-physics-in-2d/' %}

    {{ super() }}

    {% from "macros/resource_fetching.html" import async_css %}
    {{ async_css(url_for('static', filename='projects/css/figures.css')) }}
    {{ async_css(url_for('static', filename='projects/css/math.css')) }}

    {{ include_mathjax() }}


    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='projects/css/animation_clip.css') }}">

    <script type="text/javascript"
            src="{{ url_for('static', filename='3rd/require/require.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/rigid_physics_2d.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/animation.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename=cd + 'js/figures.js') }}"></script>
    <script>
		window.addEventListener("DOMContentLoaded", () =>
		{
			require(["RigidPhysics2D"], function(module)
			{
				window.Physics = module;
                initialize_figure_animations();
			});
		});
    </script>

{% endblock %}
{% block projectSummary %}

    <p>
        In this project we build a simple physically-based real-time simulation for
        {{ wikilink('rigid bodies', 'rigid body') }}. Its been a long while since I last worked on anything
        physics-related and I thought it is time to revisit the subject and restore some of my former
        self-confidence for this type of work.
    </p>
    <p>
        Aside from the basics (i.e. position/velocity computations and collision
        detection/resolution), we are also interested in making our simulation decently scalable to higher
        quantities of entities, say, up to a few thousand. To do that, we will be using some
        {{ wikilink('spatial partitioning') }} techniques.
    </p>
{% endblock %}
{% block tableOfContents %}

    <h2>Table of contents</h2>

    <ul>
        <li><a href="#section-basics">Rigid body basics</a></li>
        <li><a href="#section-collision">Handling collisions</a>
            <ul>
                <li><a href="#section-collision-detection">Detection</a></li>
                <li><a href="#section-collision-separation">Separation</a></li>
                <li><a href="#section-collision-resolution">Resolution</a></li>
            </ul>
        </li>
        <li><a href="#section-spatial-partitioning">Spatial partitioning</a></li>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {{ super() }}

    <a id="section-showcase"></a>
    <h2>Showcase</h2>

    <div class="figure">
        {{ begin_animation_clip() }}
        <canvas id="showcase-canvas"
                width="250" height="250">
        </canvas>
        {{ end_animation_clip() }}
    </div>

    <a id="section-basics"></a>
    <h2>Rigid body basics</h2>

    <p>
        For simplicity's sake, rigid bodies in our simulation are disc-shaped, and so in addition
        to a radius \(r\), they each possess a mass \(m\), position \(\boldsymbol{x}\),
        velocity \(\boldsymbol{v}\), and experience an applied force \(\boldsymbol{F}\).
    </p>
    <p>
        We advance the simulation in time steps with some reasonably small duration \(dt\), and use
        \(\boldsymbol{F}\) to derive new position and velocity \(\boldsymbol{x_1}\), \(\boldsymbol{v_1}\) from
        their previous values \(\boldsymbol{x_0}\), \(\boldsymbol{v_0}\) using the fundamental
        equations for motion:
    </p>

    <div class="math">
        $$ \boldsymbol{a} = \frac{\boldsymbol{F}}{m} $$
        $$ \boldsymbol{x_1} = \boldsymbol{v_0}dt + \frac{1}{2}\boldsymbol{a}(dt)^2 $$
        $$ \boldsymbol{v_1} = \boldsymbol{v_0} + \boldsymbol{a}dt $$
    </div>

    <a id="section-collision"></a>
    <h2>Handling collisions</h2>

    <p>
        There are three steps to the handling of collisions: (1) detection, (2) separation, and
        (3) resolution.
    </p>

    <a id="section-collision-detection"></a>
    <h3>Detection</h3>
    <p>
        Our initial objective is to determine whether two bodies
        \(a = (r_1, m_1, \boldsymbol{x_1}, \boldsymbol{v_1})\) and
        \(b = (r_2, m_2, \boldsymbol{x_2}, \boldsymbol{v_2})\) collide in the next \(dt\) seconds.
        First we check if the bodies in their current positions intersect, and if so report the pair
        as a collision:
    </p>
    <div class="math">
        $$ |\boldsymbol{x_1} - \boldsymbol{x_2}| \le (r_1 + r_2) \text{ iff the bodies intersect.} $$
    </div>
    <p>
        Otherwise, we must find out whether the two collide in the future.
        Let \(D(t)\) be the squared distance between the centers of \(a\) and \(b\) at time \(t\):
    </p>
    <div class="math">
        $$ D(t) = |(\boldsymbol{x_1} + \boldsymbol{v_1}t) -
                   (\boldsymbol{x_2} + \boldsymbol{v_2}t)|^2 $$
    </div>
    <p>
        We are interested in finding out whether \(D(t) = (r_1 + r_2)^2\)
        on the interval \([0, dt]\). Using the following shorthands:
    </p>
    <div class="math">
        $$ \boldsymbol{dx} = \boldsymbol{x_1} - \boldsymbol{x_2} $$
        $$ \boldsymbol{dv} = \boldsymbol{v_1} - \boldsymbol{v_2} $$
        $$ R = r_1 + r_2 $$
    </div>
    <p>
        ...the equation can be expressed like so:
    </p>
    <div class="math">
        $$ (\boldsymbol{dx} + \boldsymbol{dv}t) \cdot
           (\boldsymbol{dx} + \boldsymbol{dv}t) - R^2 = 0 $$
    </div>
    <p>
        Opening up the left side yields a quadratic equation \(at^2 + bt + c = 0\).
        Solve it to find two roots \(t_0\) and \(t_1\). All that is left to do is check whether either
        of them is in \([0, dt]\). If both of them are, then the time of collision is the smaller of the
        two: \(t_c = \text{min}(t_0, t_1)\).
    </p>

    <a id="section-collision-separation"></a>
    <h3>Separation</h3>
    <p>
        Before we proceed with computation of the effects of the collision on \(a\) and \(b\), we
        first take a moment to bring them to the point of collision. In the case where they are already
        colliding and penetrating each other, we first separate them along the axis of collision.
        Otherwise, if the collision happens at time \(t_c \in [0, dt]\) then we first advance both up
        to that point.
    </p>

    <a id="section-collision-resolution"></a>
    <h3>Resolution</h3>
    <p>
        Now that we have a pair of colliding bodies at the time of their collision,
        we look to compute their new velocities immediately proceeding it. However, before we do
        that we must determine the factor of kinetic energy preserved, i.e. the collision's
        {{ wikilink('coefficient of restitution') }} \(e\).
    </p>
    <p>
        For our purposes, we compute \(e\) as the average of two elasticity properties
        \(e_1\), \(e_2\) of the colliding bodies (these are constant, just like a body's radius and mass):
    </p>
    <div class="math">
        $$ e = \frac{1}{2}(e_1 + e_2) $$
    </div>
    <p>
        Using \(e\), we compute the new velocities for both bodies according to the motion equation for
        {{ wikilink('inelastic collisions', 'inelastic collision') }}. When \(e = 1\), the collision is
        said to be perfectly elastic, and when \(e = 0\), it is said to be perfectly inelastic.
        Figure 1 illustrates collision resolution for different values of \(e\).
    </p>
    <div class="figure">
        {{ caption('Figure 1',
                   'Collision resolution for different values of the coefficient of restitution.') }}
        <div class="subfigure-group">
            <div class="subfigure">
                {{ begin_animation_clip() }}
                <canvas id="fig1-elastic-collision-canvas"
                        width="250" height="100">
                </canvas>
                {{ end_animation_clip() }}
                <div class="subtitle">
                    \(e = 1\)
                </div>
            </div>
            <div class="subfigure">
                {{ begin_animation_clip() }}
                <canvas id="fig1-inelastic-collision-canvas"
                        width="250" height="100">
                </canvas>
                {{ end_animation_clip() }}
                <div class="subtitle">
                    \(e = 0\)
                </div>
            </div>
        </div>
    </div>

    <a id="section-spatial-partitioning"></a>
    <h2>Spatial partitioning</h2>
    <p>
        Now that we know how to determine whether two bodies collide and how to resolve such a collision,
        one question remains: How should we go about finding all future-colliding pairs? The naive option
        of course is to check all pair combinations. However, this quickly becomes unfeasible when
        the number of bodies in the simulation \(n\) grows. For \(n = 1000\), we already need to check
        \(10^6\) pairs for a single time step, and there are many time steps per second! Real-time
        simulation is not going to happen unless we find a way to trim the number of pairs to check.
    </p>
    <p>
        One way to do this is to divide the simulation space into partitions,
        and assume that bodies in separate partitions are too far away from each other to collide in the
        near future. This way we need only check for colliding pairs in those partitions of space containing more
        than one body.
    </p>
    <p>
        There are many types of spatial partitions, but for our purposes a simple {{ wikilink('quadtree') }}
        is sufficient. The quadtree divides space into four quadrants, with each quadrant dividing its own
        partition into four more, and so on up to some predetermined depth. Now, we need only check for collision
        those groups of entities that share a leaf in the quadtree. Figure 2 illustrates this.
    </p>
    <div class="figure">
        {{ caption('Figure 2',
                   'Using a quadtree to partition space allows us to check for collision only for
                    groups of bodies that share a leaf (highlighted squares).') }}

        {{ begin_animation_clip() }}
        <canvas id="fig2-canvas"
                width="250" height="250">
        </canvas>
        {{ end_animation_clip() }}
    </div>
    <a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and documentation of the project on
        {{ githublink('GitHub', 'rharel', 'ts-rigid-body-physics-2d') }}.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <ul>
        <li>
            More spatial partitioning data structures:
            {{ wikilink('kD trees', 'k-d tree') }},
            {{ wikilink('BSP trees', 'bsp tree') }},
            {{ wikilink('R trees', 'r-tree') }},
            {{ wikilink('bounding volume hierarchies', 'bounding volume hierarchy') }}
        </li>
    </ul>

{% endblock %}
{% block lastUpdateStamp %} July, 2017 {% endblock %}
