{% extends "projects/index_base.html" %}

{% set cd = 'projects/rigid-body-physics-in-2d/' %}

{% from "macros/links.html" import githublink, wikilink %}

{% block title %}Rigid Body Physics in Two Dimensions{% endblock %}
{% block head %}

    {{ super() }}

{% endblock %}
{% block projectSummary %}

    {{ lipsum(1) }}

{% endblock %}
{% block tableOfContents %}

    <h2>Table of contents</h2>

    <ul>
        <li><a href="#section-source-code">Source code</a></li>
        <li><a href="#section-see-also">See also</a></li>
    </ul>

{% endblock %}
{% block content %}

    {{ super() }}

    <a id="section-source-code"></a>
    <h2>Source code</h2>

    <p>
        You can view the source code and documentation of the project on
        {{ githublink('GitHub', 'rharel', 'ts-rigid-body-physics-2d') }}.
    </p>

    <a id="section-see-also"></a>
    <h2>See also</h2>

    <!--<ul>-->
        <!--<li>-->
            <!--The add-on's page at-->
            <!--<a href="https://addons.mozilla.org/en-US/firefox/addon/new-tab-tweaker/",-->
               <!--target="_blank">-->
                <!--addons.mozilla.org-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->

{% endblock %}
{% block lastUpdateStamp %} June, 2017 {% endblock %}
