{% extends "projects/info_base.html" %}

{% from "macros/links.html" import wikilink %}

{% block projectTitle %}Rigid Body Physics in Two Dimensions{% endblock %}
{% block projectBriefTitle %}Rigid Body Physics in 2D{% endblock %}
{% block projectURL %}/projects/rigid-body-physics-in-2d{% endblock %}
{% block projectThumbnailURL %}

    {{ url_for('static', filename='projects/rigid-body-physics-in-2d/img/particles_in_a_box_128px.png') }}

{% endblock %}
{% block projectSummary %}

    This project's goal is simple: to build a bare-bones physically-based
    simulation for disc-shaped {{ wikilink('rigid bodies', 'rigid body') }} supporting accurate
    collision detection/resolution, and capable of simulating a
    decently large amount of entities utilizing
    {{ wikilink('spatial partitioning', 'space partitioning') }} methods.

{% endblock %}
{% block projectBriefSummary %}

    This project's goal is simple: to build a bare-bones physically-based
    simulation capable of accurate collision detection/resolution for a decent amount of
    {{ wikilink('rigid bodies', 'rigid body') }}.

{% endblock %}
{% block projectTags %}

    <span class="tag-ts">TypeScript</span>
    <span class="tag-physics">Physics</span>
    <span class="tag-computational-geometry">Computational Geometry</span>

{% endblock %}
