{% extends "projects/gallery/project_info.html" %}

{% from "macros/links.html" import wikilink %}

{% block project_title %}Rigid Body Physics in Two Dimensions{% endblock %}
{% block project_brief_title %}Rigid Body Physics in 2D{% endblock %}
{% block project_url %}/projects/rigid-body-physics-in-2d{% endblock %}
{% block project_thumbnail_url %}

    {{ url_for('static', filename='projects/rigid-body-physics-in-2d/img/particles_in_a_box_128px.png') }}

{% endblock %}
{% block project_summary %}

    This project's goal is simple: to build a bare-bones physically-based
    simulation for disc-shaped {{ wikilink('rigid bodies', 'rigid body') }} supporting accurate
    collision detection/resolution, and capable of simulating a
    decently large amount of entities utilizing
    {{ wikilink('spatial partitioning', 'space partitioning') }} methods.

{% endblock %}
{% block project_brief_summary %}

    This project's goal is simple: to build a bare-bones physically-based
    simulation capable of accurate collision detection/resolution for a decent amount of
    {{ wikilink('rigid bodies', 'rigid body') }}.

{% endblock %}
{% block project_tags %}

    <span class="tag-ts">TypeScript</span>
    <span class="tag-physics">Physics</span>
    <span class="tag-computational-geometry">Computational Geometry</span>

{% endblock %}
