<div id="breadcrumbs">
    {% set url_string = "/" %}
    {% set url_split = request.path.split('/') %}
    {% for value in url_split %}
        {% set value_readable = value.replace('-', ' ') %}
        {% if value %}
            {% set url_string = url_string + value_readable + '/' %}
            {% if value == url_split[-1]  %}
                <a id="breadcrumb-last">{{ value_readable }}</a>
            {% else %}
                <a class="breadcrumb" href="{{ url_string }}">{{ value_readable }}</a>
                <span class="breadcrumb-delimiter"> / </span>
            {% endif %}
        {% endif %}
    {% endfor %}
</div>
