{% macro projectlink(label, project) -%}

    <a href="{{ url_for('.show_project', name=project) }}">{{ label }}</a>

{%- endmacro %}

{% macro wikilink(label, article='') -%}

    {% if not article %}
        {% set article = label %}
    {% endif %}

    {% set url = 'https://en.wikipedia.org/wiki/' +
                  article[0].capitalize() +
                  article[1:].replace(' ', '_') %}
    <a href="{{ url }}" target="_blank">{{ label }}</a>

{%- endmacro %}

{% macro youtubelink(label, video) -%}

    {% set url = 'https://www.youtube.com/watch?v=' + video %}
    <a href="{{ url }}" target="_blank">{{ label }}</a>

{%- endmacro %}

{% macro githublink(label, user, repo, branch='') -%}

    {% set url = 'https://www.github.com/%s/%s' % (user, repo) %}
    {% if branch %}
        {% set url = url + '/tree/%s' % branch %}
    {% endif %}
    <a href="{{ url }}" target="_blank">{{ label }}</a>

{%- endmacro %}

{% macro caption(id, text) -%}

    <div class="caption-container">
        <span class="caption">

            <span class="figure-id">{{ id }}:</span>
            {{ text }}

        </span>
    </div>

{%- endmacro %}

{% macro slideshow(id, paths) -%}

    <div class="slideshow-container">
        <div class="slideshow-placemarker">
            <span id="{{ id + '-index' }}" class="slideshow-slide-current">0</span>
            /
            <span id="{{ id + '-total' }}" class="slideshow-slides-total">0</span>
        </div>
        <img id="{{ id }}" src="">
        <div class="slideshow-controls">
            <a class="slideshow-control-button slideshow-control-previous"
               onclick="Slideshow.previous('{{ id }}');">

                PREVIOUS
            </a>
            <a class="slideshow-control-button slideshow-control-next"
               onclick="Slideshow.next('{{ id }}');">

                NEXT
            </a>
        </div>
        <script>
            Slideshow.register('{{ id }}', '{{ paths }}');
        </script>
    </div>

{%- endmacro %}