{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block head %}

    {{ super() }}

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='about/css/about.css') }}">

{% endblock %}
{% block content %}

    <div id="portrait-container">
        <img src="{{ url_for('static', filename='about/img/portrait_256px.png') }}">
    </div>

    <p>
        I'm a computer scientist with interests overlapping fields such as psychology,
        sociology, artificial intelligence, and human-machine interactions.
    </p>
    <p>
        I received a bachelor's of computer science & engineering from the
        <a href="http://www.tudelft.nl/en/" target="_blank">Delft University of Technology</a> in 2014,
        and am currently in the process of rounding up my master's of media technology at
        <a href="http://www.uu.nl/en" target="_blank">Utrecht University</a> in the Netherlands. My thesis' work
        is about modeling multi-modal, multi-party conversation.
    </p>
    <p>
        This website serves to host, document and showcase a multitude
        of <a href="projects/">side-projects</a> I've made in my spare time.
    </p>
    <p>
        Don't hesitate to <a href="contact">get in touch</a>! <br><br>
        Best, <br>
        Raoul
    </p>
{% endblock %}
{% block lastUpdateStamp %} April, 2017 {% endblock %}
