{% extends "project.njk" %}

{% block page_title %}Game of Life{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/projects/game-of-life/demo.scss">
  <script src="/projects/game-of-life/demo.ts" type="module"></script>
{% endblock %}

{% block project_contents %}
  <div class="demo">
    <button id="demo-toggle-pause-button" aria-label="Tap to toggle simulation pause on/off.">
      <canvas id="demo-canvas" width="512" height="512" aria-label="Showcase featuring cell evolution.">
      Either your browser does not support the canvas element, or you have JavaScript disabled. Both are required to view this project demo.
    </canvas>
    </button>
  </div>
  <p>
  This is a simulation of <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life</a>. You can tap the image to pause and inspect the the state of cells and see how it affects future generations. <a href="https://github.com/rharel/js-gol">Source code here.</a>
  </p>
{% endblock %}