{% extends "projects/info_base.html" %}

{% from "macros/links.html" import wikilink %}

{% block projectTitle %}Palette Extraction{% endblock %}
{% block projectBriefTitle %}Palette Extraction{% endblock %}
{% block projectURL %}/projects/palette-extraction{% endblock %}
{% block projectThumbnailURL %}

    {{ url_for('static', filename='projects/palette-extraction/img/colored_squares_100px.svg') }}

{% endblock %}
{% block projectSummary %}

    When working on some new design, a striking image can often serve as good source of inspiration.
    However, if we wish to capture the coloring of a particular image in a small-sized palette, it is
    not at all obvious how one should go about extracting those dominant colors. In this project we
    do just that: develop a simple, fast method for the detection of dominant colors and their rank
    in a given image.

{% endblock %}
{% block projectBriefSummary %}

    In this project we develop a simple, fast method for the detection of dominant colors and their rank
    in a given image.

{% endblock %}
{% block projectTags %}

    <span class="tag tag-js">JavaScript</span>
    <span class="tag tag-graphics">Graphics</span>
    <span class="tag tag-data-analysis">Data Analysis</span>

{% endblock %}
