#navigation-bar-buttons > .button-container > #navigation-button-about {
  border-bottom-color: #316899; }

#portrait-container {
  float: right;
  padding-left: 2rem;
  padding-right: 2rem; }
  @media (max-width: 700px) {
    #portrait-container {
      float: none;
      text-align: center; } }

#portrait-container img {
  width: 40vw;
  max-width: 15rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
