@import '../../../static/global/css/common_colors';
@import '../../../static/global/css/mixins/compatibility';
@import '../../../static/global/css/mixins/media';

#navigation-bar-buttons > .button-container > #navigation-button-about
{
    border-bottom-color: $blue_2;
}

#portrait-container
{
    float: right;
    padding:
    {
        left:  2rem;
        right: 2rem;
    }

    @include media-S()
    {
        float: none;
        text-align: center;
    }
}
#portrait-container img
{
    width: 40vw;
    max-width: 15rem;
    @include border-radius(50%);
}
