@mixin border-radius($value)
{
	-webkit-border-radius: $value;
	   -moz-border-radius: $value;
	        border-radius: $value;
}
@mixin box-shadow($value)
{
    -webkit-box-shadow: $value;
       -moz-box-shadow: $value;
         -o-box-shadow: $value;
            box-shadow: $value;
}
@mixin transition($value)
{
    -webkit-transition: $value;
       -moz-transition: $value;
         -o-transition: $value;
            transition: $value;
}
@mixin user-select($value)
{
	-webkit-user-select: $value;
	   -moz-user-select: $value;
	    -ms-user-select: $value;
	        user-select: $value;
}

@mixin display-flex()
{
    display: -webkit-flex;
	display:    -moz-flex;
    display:         flex;
}
@mixin flex-flow($value)
{
    -webkit-flex-flow: $value;
            flex-flow: $value;
}
@mixin flex-grow($value)
{
    -webkit-flex-grow: $value;
            flex-grow: $value;
}
@mixin justify-content($value)
{
    -webkit-justify-content: $value;
            justify-content: $value;
}
@mixin align-items($value)
{
    -webkit-align-items: $value;
            align-items: $value;
}
