{% extends "projects/gallery/project_info.html" %}

{% from "macros/links.html" import wikilink %}

{% block project_title %}Mandelbrot Set Exploration{% endblock %}
{% block project_brief_title %}Mandelbrot Set Exploration{% endblock %}
{% block project_url %}/projects/mandelbrot-set-exploration{% endblock %}
{% block project_thumbnail_url %}

     {{ url_for('static', filename='projects/mandelbrot-set-exploration/img/overview_256px.png') }}

{% endblock %}
{% block project_summary %}

    The {{ wikilink('Mandelbrot set') }} is a
    {{ wikilink('mathematical set', 'set (mathematics)') }} that is also a
    {{ wikilink('fractal') }}. To visualize its structure, points in the
    {{ wikilink('complex plane') }} can be colored based on how close a
    they are to being included in the set. Images generated in this manner reveal
    the complexity and beauty of the fractal patterns hidden within the Mandelbrot set.

{% endblock %}
{% block project_brief_summary %}

    Explore the {{ wikilink('Mandelbrot set') }} &#8212;
    a {{ wikilink('mathematical set', 'set (mathematics)') }} that is also a
    {{ wikilink('fractal') }} &#8212; in real time.

{% endblock %}
{% block project_tags %}

    <span class="tag-cpp">C++</span>
    <span class="tag-opengl">OpenGL</span>
    <span class="tag-graphics">Graphics</span>

{% endblock %}
