{% extends "projects/info_base.html" %}

{% from "macros/links.html" import wikilink %}

{% block projectTitle %}Mandelbrot Set Exploration{% endblock %}
{% block projectBriefTitle %}Mandelbrot Set Exploration{% endblock %}
{% block projectURL %}/projects/mandelbrot-set-exploration{% endblock %}
{% block projectThumbnailURL %}

     {{ url_for('static', filename='projects/mandelbrot-set-exploration/img/overview_256px.png') }}

{% endblock %}
{% block projectSummary %}

    The {{ wikilink('Mandelbrot set') }} is a
    {{ wikilink('mathematical set', 'set (mathematics)') }} that is also a
    {{ wikilink('fractal') }}. To visualize its structure, points in the
    {{ wikilink('complex plane') }} can be colored based on how close a
    they are to being included in the set. Images generated in this manner reveal
    the complexity and beauty of the fractal patterns hidden within the Mandelbrot set.

{% endblock %}
{% block projectBriefSummary %}

    Explore the {{ wikilink('Mandelbrot set') }} &#8212;
    a {{ wikilink('mathematical set', 'set (mathematics)') }} that is also a
    {{ wikilink('fractal') }} &#8212; in real time.

{% endblock %}
{% block projectTags %}

    <span class="tag tag-cpp">C++</span>
    <span class="tag tag-opengl">OpenGL</span>
    <span class="tag tag-graphics">Graphics</span>

{% endblock %}
