{% extends "projects/info_base.html" %}

{% from "common/macros.html" import wikilink %}

{% block projectTitle %}Mandelbrot Set Exploration{% endblock %}
{% block projectBriefTitle %}Mandelbrot Set Exploration{% endblock %}
{% block projectURL %}/projects/mandelbrot-set-exploration{% endblock %}
{% block projectThumbnail %}

    <img class="project-thumbnail"
         src="{{ url_for('static', filename='projects/mandelbrot-set-exploration/img/overview_256px.png') }}">

{% endblock %}
{% block projectSummary %}

    The {{ wikilink('Mandelbrot set') }} is a
    {{ wikilink('mathematical set', 'set (mathematics)') }} that is also a
    {{ wikilink('fractal') }}. Fractals are sets that are
    {{ wikilink('self-similar', 'self-similarity') }} in their structure.
    In order to visualize this, the
    {{ wikilink('complex plane') }} (in which the Mandelbrot set is embedded)
    can be colored based on how close a
    point is to being included in the Mandelbrot set. Images generated in this manner reveal
    the complexity and beauty of the fractal patterns hidden within.

{% endblock %}
{% block projectTags %}

    <span class="tag tag-cpp">C++</span>
    <span class="tag tag-opengl">OpenGL</span>
    <span class="tag tag-graphics">Graphics</span>

{% endblock %}
